now located at <a id="a" href="https://crazy.mazie.rocks/askmaze/">crazy.mazie.rocks</a>

<script>
document.addEventListener("DOMContentLoaded", function () {
  document.getElementById("a").href = "https://crazy.mazie.rocks/askmaze/"+document.location.search;
});
</script>
