body {
  font-size: 1.2em;
  font-family: Sans-Serif;
  margin: 0px;
  /* background-image: url("https://mazie.rocks/img/bg.png"); */
}
.links {
  margin: auto;
}

.card {
  display: inline-block;
  margin: 4%;
  background-color: #ecdcf7;
  border-radius: 20px;
  border: 3px solid #ccbcc7;
  border-color: #ccbcc7;
  padding-bottom: 5px;
}
a {
  text-decoration: none;
  color: #8c3c87;
  transition: 40ms ease;
}
a:hover {
  color: #c19cbf;
}
.card>a {
  border-color: inherit;
}
.cardimg {
  border-radius: 17px 17px 0px 0px;
  border-bottom: 3px solid #ccbcc7;
  border-color: inherit;
  padding: 1% 1.5%;
  width: 97%;
  height: auto;
  transition: 40ms ease;
}
.cardimg:hover {
  padding: 0px;
  width: 100%;
  height: auto;
}
.craziecardimg {
  width: 50%;
  transition: 150ms ease;
}
.craziecardimg:hover {
  width: 200%;
}
.date {
  border-radius: 17px 0px 17px 0px;
  /* border-bottom: 3px solid #ccbcc7; */
  /* border-right: 3px solid #ccbcc7; */
  color: #8c3c87;
  background-color: #ecdcf7;
  font-size: 1em;
  width: 150px;
  position: absolute;
}

.videolink {
  text-decoration: none;
}

footer p {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 5fr 5fr;
  text-align: center;
  max-width: 2500px;
}

/* centering text */
p,h1,h2,h3 {
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  max-width: 2500px;
}
h1,h2,h3 {
  color: #7e5799;
}
p.text {
  text-align: justify;
}
.main {
  padding: 20px;
}
.footer {
  padding: 1px;
  margin: 0px;
  background-color: #ecdcf7;
}
.main ul {
  width: 80%;
  max-width: 600px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
ul.steps {
  list-style: decimal;
}
ul.linklist {
  list-style: none;
  padding: 0px;
  text-align: center;
}
.responsive {
  max-width: 100%;
  height: auto;
}
img.icon {
  height: 1em;
  width: 1em;
  border-radius: 3px;
}

.homebutton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.homebuttona .homebutton1 {
  display: block;
}

.homebuttona:hover .homebutton1 {
  display: none;
}

.homebuttona .homebutton2 {
  display: none;
}

.homebuttona:hover .homebutton2 {
  display: block;
}

/* sidenav style on any screen */
.sidenav {
  background-color: #ecdcf7;
  border: 3px solid #ccbcc7;
  border-width: 4px 0px 0px 0px;
  border-top: 4px solid #ccbcc7;
  border-bottom: 4px solid #ccbcc7;
}
.sidenavlinks ul {
  list-style: none;
  padding: 0px;
  padding-left: 20px;
  margin: 0px;
  margin-bottom: 10px;
}
.sidenavlinks ul>li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}

.sidenav {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.sidenavlinks {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
}

.sidenavlinksfirst {
  border-left: 4px solid #ccbcc7;
  border-right: 2px solid #ccbcc7;
}

.sidenavlinkssecond {
  border-left: 2px solid #ccbcc7;
  border-right: 2px solid #ccbcc7;
}

.sidenavlinksthird {
  border-left: 2px solid #ccbcc7;
  border-right: 4px solid #ccbcc7;
}





/* additional style on wide screen */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.2em;
  }
  .footer {
    padding: 0px;
    background-color: inherit;
  }
  .grid {
    grid-template-columns: 3fr 3fr 3fr;
  }
  .sidenavlinks {
    display: inline;
  }
  .sidenavlinks>div {
    border-top: 4px solid #ccbcc7;
    border-bottom: 4px solid #ccbcc7;
  }
  .container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 6fr 4fr;
  }
  .containereq {
    display: flex;
    gap: 50px;
    flex-direction: row;
    /* grid-gap: 50px; */
    /* grid-template-columns: 5fr 5fr; */
  }
  .containereq:nth-child(n+2) {
    align-items: center;
  }
  .containereq:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    /* grid-gap: 50px; */
    /* grid-template-columns: 5fr 5fr; */
  }
  .containereq>div {
    flex: 50%;
  }
  .centerhalf {
    width: 50%;
    margin: auto;
  }
  .sidenav {
    display: block;
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border: 3px solid #ccbcc7;
    border-width: 0px 3px 0px 0px;
  }
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding-left: 50px;
    padding-right: 50px;
  }
  .sidenavlinks>div {
    border-width: 4px 0px 0px 0px;
  }
}


/* additional style on narrow screen */
@media only screen and (max-width: 800px) {
  body {
    font-size: 1em;
  }
  .grid {
    grid-template-columns: auto;
  }
  .sidenav {
    display: block;
    border-top: 4px solid #ccbcc7;
    border-bottom: 4px solid #ccbcc7;
  }
  .sidenavlinks {
    border-top: 4px solid #ccbcc7;
  }
  .sidenavlinksfirst {
    border-right: 2px solid #ccbcc7;
    border-left: 0px solid #ccbcc7;
  }
}
