title: Fog Maze
card: img/fogmaze-card.png
date: 2016-04-17
category: Games
---

<div class="containereq"><div>
    <h2>Fog Maze!</h2>
    <p class="text">A maze generator+game I made back in 2016!
    I was super proud of this when I made it, and I still like it!
    It's fun to search around this maze!</p>
    <ul class="linklist">
      <li><a title="Click to play!" href="https://mazie.rocks/fog-maze/index.html">
          <img alt="" class="icon" src="../img/icons/mazie.png"> play here!</a></li>
      <li><a title="Download directly from mazie.rocks" href="https://mazie.rocks/files/fog-maze-main.zip">
          <img alt="" class="icon" src="../img/icons/mazie.png"> local download!</a></li>
      <li><a title="GitLab repository!" href="https://gitlab.com/MRAAGH/fog-maze">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> gitlab repository!</a></li>
    </ul>
  </div>
  <div><p><a title="Click to play!" href="https://mazie.rocks/fog-maze/index.html">
      <img class="responsive" alt="Fog Maze screenshot"
                              width="600" height="400" src="../img/fogmaze-card.png"></a></p></div></div>


