title: Fog Goof
card: img/foggoof-card.png
date: 2017-02-20
category: Games
---

<div class="containereq"><div>
    <h2>Multiplayer version of <a href="fogmaze.html">Fog Maze</a> (unfinished)</h2>
    <p class="text">Started working on this in 2016 but never finished! It's not playable!
    You can only watch the characters move around by themselves!
    When I made this, I had no idea how to make a multiplayer game with a server.
    I know now, though! And it's not easy!
    I'd really rather work on AAGRINDER, not this, so Fog Goof is pretty much abandoned!</p>
    <ul class="linklist">
      <li><a title="Click to see the unfinished thing!" href="https://mazie.rocks/fog-goof/index.html">
          <img alt="" class="icon" src="../img/icons/mazie.png"> watch it here!</a></li>
      <li><a title="Download directly from mazie.rocks" href="https://mazie.rocks/files/fog-goof-main.zip">
          <img alt="" class="icon" src="../img/icons/mazie.png"> local download!</a></li>
      <li><a title="GitLab repository!" href="https://gitlab.com/MRAAGH/fog-goof">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> gitlab repository!</a></li>
    </ul>
  </div><div>
    <p><a title="Click to see the unfinished thing!" href="https://mazie.rocks/fog-goof/index.html">
      <img class="responsive" alt="Fog Goof screenshot"
                              width="504" height="505" src="../img/foggoof-small.png"></a></p>
  </div></div>


