title: Shaped maze generator!
card: img/shapedmaze-rot.png
date: 2015-12-27
category: Coding
---

<div class="containereq"><div>
    <h2>Shaped maze generator!</h2>
    <p class="text">My first maze generator! It turns any text seed into a maze,
    and each maze has its own size, shape, and pattern of paths!
    Depending on the seed you entered, a finite-state machine is randomly created,
    and then this state machine determines the pattern of the boundary!
    Same thing is then done for generating the interior of the maze;
    I was very proud of this when I made it! It is a c++ program,
    I made it in 2015 when I was learning c++, you can't run this one in the browser,
    you need to download and compile!</p>
    <ul class="linklist">
      <li><a title="Download directly from mazie.rocks" href="https://mazie.rocks/files/shaped-maze-generator-main.zip">
          <img alt="" class="icon" src="../img/icons/mazie.png"> local download!</a></li>
      <li><a title="GitLab repository!" href="https://gitlab.com/MRAAGH/shaped-maze-generator">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> gitlab repository!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/shapedmaze-big.png" title="Click for full size!">
      <img alt="Shaped maze ASCII" class="responsive"
                                   width="400" height="600" src="../img/shapedmaze-small.png"></a></p>
  </div>
</div>


