title: Unity Climbing Game!
card: img/firstpersonclimber-card.jpg
date: 2016-08-22
category: Games
---

<div class="containereq"><div>
    <h2>A 3D tower/path/walkway/"maze" generator in Unity!</h2>
    <p class="text">
    My first Unity project and my first 3D software project (3D math is hard)!
    I'm not sure if this one is really a maze generator,
    it's more like a "walkway generator". The walkway does split sometimes,
    though. I tried to really make use of 3D space with this one,
    with pillars connecting the paths together vertically!
    The generator has a bunch of parameters which you can change to get something new!
    </p>
    <ul class="linklist">
      <li><a href="https://gitlab.com/MRAAGH/first-person-climber">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> see code!</a></li>
      <li><a href="https://mazie.rocks/files/FirstPersonClimber_linux.zip">
          <img alt="" class="icon" src="../img/icons/mazie.png"> download for Linux 64-bit (13.7 MB)</a></li>
      <li><a href="https://mazie.rocks/files/FirstPersonClimber_windows.zip">
          <img alt="" class="icon" src="../img/icons/mazie.png"> download for Windows 64-bit (43.3 MB)</a></li>
    </ul>
  </div><div>
    <p><a href="../img/firstpersonclimber-full.png" title="Click for full size!">
      <img alt="screenshot of 3D walking game" class="responsive" width="960" height="540" src="../img/firstpersonclimber-small.jpg"></a></p>
  </div>
</div>


