title: Infinite maze generator!
card: img/infinitemaze-card.png
date: 2015-04-15
category: Coding
---

<div class="containereq">
  <div>
    <h2>Infinite maze generator!</h2>
    <p class="text">My first attempt at making a procedural infinite terrain generator!
    This is from 2015, I wanted to see if I could describe a maze with a hash function!
    The result has a lot of repeating patterns, but it does have interesting paths in it,
    and I'm wondering whether I'll use this for something one day!
    Additional operations should probably be added,
    at least to get rid of those enclosed squares!</p>
    <ul class="linklist">
      <li><a href="https://mazie.rocks/files/infinitemaze.html">
          <img alt="" class="icon" src="../img/icons/mazie.png"> check it out!</a></li>
    </ul>
  </div>
  <div><p><a href="../files/infinitemaze.html" title="Click to try the generator!">
      <img class="responsive" alt="Infinite maze ASCII" width="600" height="400" src="../img/infinitemaze-big.png"></a></p>
  </div>
</div>



