title: My keyboard!
card: img/rubberdome-card.jpg
date: 2018-04-20
category: Modding
---

<div class="containereq">
  <div>
    <h2>My keyboard!</h2>
    <p class="text">I like weird keyboards! I made this one 2 years ago! Don't worry,
    it still works, even though it's in 2 pieces and bent and tilted and without letters!</p>
    <p><a href="../img/rubberdome-big.jpg" title="Click for full size!">
      <img alt="My keyboard and screens" class="responsive"
                                         width="1040" height="780" src="../img/rubberdome-small.jpg"></a></p>
    <p>How I made this:</p>
    <ul class="steps">
      <li>I bought 2 identical keyboards</li>
      <li>I disassembled them</li>
      <li>I erased all the letters using sandpaper (this is important for touch typing)</li>
      <li>I cut the plastic frame and the spacebars with an angle grinder</li>
      <li>I made new spacebar stabilizers by bending and cutting the old ones</li>
      <li>I unsoldered the LEDs on one of the keyboards</li>
      <li>I cut the USB cables and soldered on new USB connectors</li>
      <li>I put a piece of paper between the layers of the keyboard matrix where it is unused</li>
      <li>I drilled some holes, put it back together with some extra screws and improvised clamps, anyway it works in the end! ^.^</li>
      <li>oh and I built the frame out of Fischertechnik blocks. Some are custom 3d printed.</li>
  </div>
  <div>
    </ul>
    <p>How much it cost:</p>
    <ul>
      <li>20€ for the 2 original keyboards</li>
      <li>Fischertechnik blocks probably worth around 10€. They are reusable though!</li>
      <li>0.2€ for the USB connectors</li>
      <li>about 0.2€ of 3d filament</li>
      <li>almost a month of work</li>
    </ul>
    <p class="text">
    The problem I have with this keyboard is that by putting two different,
    custom, keyboard layouts on them, I broke some programs.
    Some programs don't like multiple keyboard layouts.
    That's why I'm making a new keyboard now,
    it'll have its layout in custom firmware,
    so it won't interfere with the programs on my computer!
    </p>
    <ul class="linklist">
      <li><a title="DeviantArt!" href="https://www.deviantart.com/mraagh/art/DIY-split-tilted-keyboard-837822967">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> check it out!</a></li>
    </ul>
    <p><a href="../img/rubberdomedeviant-big.jpg" title="Click for full size!">
      <img alt="My keyboard (DeviantArt image)" class="responsive"
                                                width="693" height="761" src="../img/rubberdomedeviant-small.jpg"></a></p>
  </div>
</div>


