title: Sorunome upside down!
card: img/sorumazehug-card.jpg
date: 2019-07-26
category: Pony art
---

<div class="containereq"><div>
    <h2>Drawing of Sorunome floating upside down!</h2>
    <p class="text">
    I drew this to put it on the bottom of <a href="sorupixel.html">this 3D print</a>!
    The 3D print is transparent on the bottom and it has this drawing embedded in it.
    I put it in there in the middle of the printing process.
    You can't get it out without breaking the print, hihi
    </p>
    <p class="text">
    The scene itself comes from a moment in a roleplay.
    The poses are original.
    </p>
    <ul class="linklist">
      <li><a href="https://www.deviantart.com/mraagh/art/Sorunome-Floating-Upside-Down-807177000">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://www.deviantart.com/mraagh">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> my DeviantArt!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/sorumazehug-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Drawing of Sorunome and Maze" width="685" height="687" src="../img/sorumazehug-small.jpg"></a></p>
  </div>
  <br />
  <br />
  <a href="https://www.deviantart.com/users/outgoing?MONSTERS.HERE.AAAAAAAAAAA.mazie.rocks">
    <img alt="" class="icon" src="../img/icons/deviantart.png"></a>
  <br />
  <br />
</div>



