title: 3D Sorunome & Pixel!
card: img/sorupixel-card.jpg
date: 2019-07-26
category: 3D printing
---

<div class="containereq">
  <div>
    <h2>3D printed Sorunome and Pixel!</h2>
    <p class="text">
    This was a gift for my friend Sorunome!
    It's bigger than it might look; the fox is 20cm tall!
    It is a design which I made out of
    <a href="https://www.thingiverse.com/thing:2843957">this</a> and
    <a href="https://ponysfm.com/augmented-enhanced-pony-models">this</a>
    and a bunch of extra pieces, using Blender!<br />
    I printed it on my Creality Ender 3 printer,
    and it took about 100 hours. This was my longest single print!
    I painted it with a brush, with acrylic paint. It took a very long time!
    The mane is actually supposed to be striped, with 2 colors.
    But I didn't trust myself enough to add that without messing everything up!
    </p>
    <ul class="linklist">
      <li><a href="https://www.deviantart.com/mraagh/art/3D-Sorunome-and-Pixel-807172113">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>

    <li><a href="https://ponyprinter.com/downloads">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>

      <li><a href="https://www.thingiverse.com/thing:3937710">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> this on Thingiverse!</a></li>
      <li><a href="https://ponyprinter.com">
          <img alt="" class="icon" src="../img/icons/mazie.png"> commission me!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/sorupixel-big.jpg" title="Click for full size!">
      <img class="responsive" alt="3D printed pony and fox hugging"
                              width="912" height="608" src="../img/sorupixel-small.jpg"></a></p>
  </div>
</div>



