title: A 3D printed laptop drawer!
card: img/thinkpaddrawer-card.jpg
date: 2020-04-11
category: Modding
---

<div class="containereq"><div>
    <h2>A 3D printed laptop drawer!</h2>
    <p class="text">
    I designed and 3D printed this container!
    It is the same size and shape as the CD drive on old Thinkpad computers,
    and it fits right in! (old Thinkpads have removable CD drives,
    there's a lever on the underside that unlocks it,
    just like the removable battery)
    Besides adding storage, this also makes my laptop lighter!
    I didn't need the CD drive. If I ever need it again, I can just slide it in!
    </p>
    <p>Currently I am using this for:</p>
    <ul>
      <li>USB drives</li>
      <li>DisplayPort to HDMI adapter</li>
      <li>Screwdriver</li>
    </ul>
  </div><div>
    <p><a href="../img/thinkpaddrawer-big.jpg" title="Click for full size!">
      <img class="responsive" alt="A 3D printed drawer next to the laptop it fits in"
                              width="1040" height="780" src="../img/thinkpaddrawer-small.jpg"></a></p>
  </div></div>
<div class="containereq"><div>
    <p class="text">But the model is customizable,
    you could adjust the openings to any size you want!
    Ideas for things to store in your laptop:
    </p>
    <ul>
      <li>SD card</li>
      <li>Pencil</li>
      <li>Money</li>
      <li>Phone</li>
      <li>Various adapters</li>
      <li>Various cables</li>
    </ul>
    <ul class="linklist">
      <li><a href="https://www.thingiverse.com/thing:4278298">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> this on Thingiverse!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/thinkpadcompare-big.jpg" title="Click for full size!">
      <img class="responsive" alt="A 3D printed drawer next to the laptop it fits in"
                              width="1040" height="780" src="../img/thinkpadcompare-small.jpg"></a></p>
  </div></div>



