title: My modded screens!
card: img/myscreens-card.jpg
date: 2020-05-02
category: Modding
---

<div class="containereq"><div>
    <h2>My modded screens!</h2>
    <p class="text">
    I had problems with positioning one of my screens,
    so I substituted its foot with a new custom one!
    </p>
    <p class="text">
    And I also wanted to have that other screen sideways
    for easier reading and programming, so I made a custom
    support for that one too!
    </p>
  </div><div>
    <p><a href="../img/myscreens-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Two screens with wooden supports"
                              width="1040" height="780" src="../img/myscreens-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <p class="text">
    There was no space for this screen's foot, because the wall
    and the hole in the table were in the way. I made a wooden one
    that fits perfectly! It is also extremely strong compared to
    the original thing!
    I don't like wiggling screens!
    </p>
    <p class="text">
    On the picture, you can see it from behind. You can also see the LEDs I added
    to the back of the screen; these are powered by my computer's
    power supply, so they automatically turn off together with the computer!
    ^.^
    </p>
  </div><div>
    <p><a href="../img/myscreenled-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Screen with a wooden foot and an LED strip on it"
                              width="1040" height="780" src="../img/myscreenled-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <p>
    Here you can see how it's attached, I used the original attachment screw holes!
    </p>
  </div><div>
    <p><a href="../img/myscreenfoot-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Wooden screen foot"
                              width="1040" height="780" src="../img/myscreenfoot-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <p>
    Notice the gap! The screen tilt is still adjustable, just like on the original!
    </p>
  </div><div>
    <p><a href="../img/myscreenfootside-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Wooden screen foot - side view"
                              width="1040" height="780" src="../img/myscreenfootside-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <p class="text">
    And here's the big one! I was able to make this
    because I have a jigsaw now, it was a really fun project!
    </p>
    <p class="text">
    This TV has actual attachments which you can use to attach it to the wall,
    but I used them to attach it to my mount here,
    with some 3D-printed spacers in-between.
    </p>
    <p class="text">
    There are some excess holes on the wood leftover from when this was a piece of my old bed, hihi.
    </p>
    <p class="text">
    I think this came out really nicely, it fits the room!
    One unintended side effect of turning my screen sideways
    is that it also takes up less space on the desk! Yay!
    </p>
    <p>
    Tip: click on images for full size!
    </p>
  </div><div>
    <p><a href="../img/myscreensupport-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Homemade wooden support structure to hold screen sideways"
                              width="1040" height="780" src="../img/myscreensupport-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <p class="text">
    Because this TV already had overheating issues
    and because it was probably not designed to be sideways,
    I added an internal fan in the TV which is powered by
    the TV's power supply and controlled by one of the
    levers on my little control board. I'll use that on
    hot days, hopefully it'll be fine!
    </p>
    <p class="text">
    And while at it, I wired one of those big red buttons
    to the TV's power button, because the real power button
    is kinda awkward, and the TV remote even more. Also,
    big red buttons get extra points for awesome!
    </p>
    <p class="text">
    The other big red button is my computer's power button,
    and the remaining levers are light switches. They're all
    very handy, I like having my commonly used controls
    nicely accessible like that! Below you can see the control
    box from the inside, it's a bit messy because I intentionally
    made the wires too long. Long wires are a good idea,
    they're more fail-proof and future-proof!
    </p>
  </div><div>
    <p><a href="../img/myscreencontrolbox-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Wooden box with levers and buttons on it and full of wires"
                              width="1040" height="780" src="../img/myscreencontrolbox-small.jpg"></a></p>
  </div></div>



