title: Autumn Dawn
card: img/autumndawn-card.jpg
date: 2019-04-26
category: Pony art
---

<div class="containereq"><div>
    <h2>Watercolor of Autumn Dawn!</h2>
    <p class="text">
    This was the first time I've used watercolor since elementary school.
    All the "shading" you see is accidental, when I was trying to fix my mistakes.
    I fixed the worst parts digitally after scanning it.
    My art was inspired by
    <a href="https://www.deviantart.com/gestapwarmhunter/art/Avast-Octavia-s-Plot-Dj-Gestap-remix-No-title-352043183">this</a>,
    which came from <a href="https://sta.sh/02gg5kxxv4ju">here</a>,
    which finally came from
    <a href="https://www.deviantart.com/fantasyblade/art/Dear-Octavia-335795071">here</a>
    (can also be found at <a href="https://www.youtube.com/watch?v=m_qaxRz5kHo">YouTube</a>).
    </p>
    <p><a href="../img/autumndawn-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Painting of Autumn Dawn pony" width="685" height="492" src="../img/autumndawn-small.jpg"></a></p>
    <ul class="linklist">
      <li><a href="https://www.deviantart.com/mraagh/art/Autumn-Dawn-795361175">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://www.deviantart.com/mraagh">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> my DeviantArt!</a></li>
    </ul>
  </div><div>
    <div style="height:400px;margin:40px;border: 1px solid black">
    <p title="this is fake, don't click the link">advertisement</p>
    <p><a href="https://mazie.rocks/explanation.html">why do we show ads on mazie.rocks?</a></p>
    </div>
  </div>
</div>



