title: Dawn Kucykow
card: img/dawnkucykow-card.jpg
date: 2019-11-23
category: Pony art
---

<div class="containereq"><div>
    <h2>Painting of Autumn Dawn!</h2>
    <p class="text">
    The title is a joke on the title of the book where the art is traced from and on the silly Polish word for "pony".
    "Dawn Kucykow" translates to "Dawn of the ponies".
    </p>
    <p class="text">
    This painting was my first attempt at shading and I think it went quite well!
    Besides the obvious shading on the body and the face, I tried to add some highlights on the mane. It's visible on paper, but not really on the computer, bright yellow and yellow are just too close together.
    </p>
    <p class="text">
    I'll probably add backgrounds in the future because this looks pretty plain. I had a plan for a background but it was too complicated so I ended up not doing it at all.
    </p>
    <ul class="linklist">
      <li><a href="https://www.deviantart.com/mraagh/art/Dawn-Kucykow-821311049">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://www.deviantart.com/mraagh">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> my DeviantArt!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/dawnkucykow-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Painting of Autumn Dawn pony" width="685" height="685" src="../img/dawnkucykow-small.jpg"></a></p>
  </div>
</div>



