title: Petting.town stats!
card: img/all-rec-log-card.png
date: 2020-11-15
category: Coding
---

<div class="containereq"><div>
    <h2>Petting.town stats visualization!</h2>
    <p class="text">
    My first contribution to the petting.town community!
    Also my first scraper!
    It's a page with a bunch of graphs, you can find it
    <a href="https://mazie.rocks/petting/" title="Petting.town graphs!">here</a>,
    it automatically updates every 10 minutes!
    However, keep in mind that the one you see below does not update!
    You should join <a href="https://petting.town" title="Awesome site!">petting.town</a>!
    </p>
    <h2>UPDATE (5. March 2025)</h2>
    <p>
      petting.town is gone. This stat page no longer updates, but remains as an archive and a memory.
    </p>
    <ul class="linklist">
      <li><a href="https://mazie.rocks/petting/">
          <img alt="" class="icon" src="../img/icons/mazie.png">check it out!</a></li>
      <li><a href="https://petting.town">petting.town!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/all-rec-log-big.png" title="Click for full size!">
      <img class="responsive" alt="Graph of petting.town stats" width="935" height="465" src="../img/all-rec-log-small.png"></a></p>
  </div>
</div>


