title: 3D printed Fischertechnik!
card: img/fischerblocks-card.jpg
date: 2020-05-05
category: Modding
---

<div class="containereq"><div>
    <h2>3D printed Fischertechnik blocks!</h2>
    <p class="text">
    My first 3D printing project!
    I started printing custom Fischertechnik blocks in early 2019 and I have quite a lot of them by now!
    I've cleaned up the original designs and published them on Thingiverse, they are all customizable, adjustable!
    I feel like angle blocks are one thing that's missing in Fischertechnik.
    In the original sets, you'll only find 60-degree angles, 30-degree, 15-degree and 7.5-degree; but sometimes I need something inbetween or an angle block that goes diagonally.
    That's why I made all of these!
    </p>
    <ul class="linklist">
      <li><a title="This on YouTube!" href="https://www.youtube.com/watch?v=d3AgOJtpFyA">
          <img alt="" class="icon" src="../img/icons/youtube.png"> a video about this!</a></li>
      <li><a title="GitLab repository!" href="https://gitlab.com/MRAAGH/angle-blocks">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> here's the code for this all!</a></li>
      <li><a title="This on Thingiverse!" href="https://www.thingiverse.com/thing:4339870">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> collection of all these models!</a></li>
      <li><a title="This on Thingiverse!" href="https://www.thingiverse.com/thing:4339898">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> angled block with 2 NOTCHES</a></li>
      <li><a title="This on Thingiverse!" href="https://www.thingiverse.com/thing:4339906">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> angled block with NOTCH and KNOB</a></li>
      <li><a title="This on Thingiverse!" href="https://www.thingiverse.com/thing:4339915">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> angled block with NOTCH and RAIL</a></li>
      <li><a title="This on Thingiverse!" href="https://www.thingiverse.com/thing:4339922">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> two-way angled block with 2 NOTCHES</a></li>
      <li><a title="This on Thingiverse!" href="https://www.thingiverse.com/thing:4339928">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> two-way angled block with NOTCH and RAIL</a></li>
      <li><a title="This on Thingiverse!" href="https://www.thingiverse.com/thing:4339940">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> angled block with NOTCHES on 4 sides</a></li>
      <li><a title="This on Thingiverse!" href="https://www.thingiverse.com/thing:4339947">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> angled block with 2 NOTCHES and 1 RAIL</a></li>
    </ul>
  </div><div>
    <p><a href="../img/fischerblocks-big.jpg" title="Click for full size!">
      <img class="responsive" alt="A pile of 3D printed Fischertechnik blocks!" width="1040" height="780" src="../img/fischerblocks-small.jpg"></a></p>
  </div></div>




