title: 3D printer button panel!
card: img/selfdestruct_mounted-card.jpg
date: 2020-02-14
category: Modding
---

<div class="containereq"><div>
    <h2>3D printed button panel for 3D printer!</h2>
    <p class="text">
    I made a button board for my 3D printer, so I can avoid the annoying menus on the printer!
    It also has a self-destruct button, because everything should have a self-destruct button!
    In the image below: <a href="https://www.thingiverse.com/thing:4362169">button board</a>
    mounted above a Raspberry Pi in a <a href="https://www.thingiverse.com/make:738142">3D printed case</a>
    next to my Creality Ender 3 printer with a mirror bed.
    The Raspberry Pi is wired to the button board, the printer, a camera pointed at the printer,
    a keyboard (out of shot), a screen (out of shot) and an Ethernet cable.
    </p>
    <ul class="linklist">
      <li><a title="This on Thingiverse!" href="https://www.thingiverse.com/thing:4362169">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> this model on Thingiverse!</a></li>
      <li><a title="This on GitLab!" href="https://gitlab.com/MRAAGH/rpi-control-board">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> code for this on GitLab!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/selfdestruct_mounted-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Raspberry pi with a button board next to 3D printer" width="1040" height="780" src="../img/selfdestruct_mounted-small.jpg"></a></p>
  </div></div>
<div class="containereq"><div>
    <p class="text">
    I'm really happy with how this worked out, the paper and plastic bend a little bit when you press on it, and it presses the buttons!
    But just in case, I programmed it so if multiple buttons are pressed at the same time, it ignores that.
    This way, I avoid some accidents!
    </p>
  </div><div>
    <p><a href="../img/selfdestruct_paper-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Button board with a bunch of paper labels" width="1040" height="780" src="../img/selfdestruct_paper-small.jpg"></a></p>
  </div></div>
<div class="containereq"><div>
    <p class="text">
    Below, you can see it without the paper!
    This is my own design, you can find it on Thingiverse and print it for your own Raspberry Pi or Arduino projects!
    It is customizable, so you can size it for any prototype board!
    It also has (optional) Fischertechnik attachments!
    </p>
  </div><div>
    <p><a href="../img/selfdestruct_plastic-big.jpg" title="Click for full size!">
      <img class="responsive" alt="A button board with a 3D printed case" width="1040" height="780" src="../img/selfdestruct_plastic-small.jpg"></a></p>
  </div></div>
<div class="containereq"><div>
    <p class="text">
    This is what's inside!
    I've had this prototype board for a long time, and I finally found a way to use it!
    </p>
  </div><div>
    <p><a href="../img/selfdestruct_pcb-big.jpg" title="Click for full size!">
      <img class="responsive" alt="A prototype board with a bunch of buttons and wires on it" width="1040" height="780" src="../img/selfdestruct_pcb-small.jpg"></a></p>
  </div></div>




