title: 3D printed LoE statue!
card: img/alicorns-card.jpg
date: 2020-06-22
category: 3D printing
---

<div class="containereq">
  <div>
    <h2>Alicorn statue from Legends of Equestria</h2>
    <p class="text">
    This is a statue you can find in <a href="https://legendsofequestria.com">Legends of Equestria</a>, but 3D printed!
    I redesigned most parts of the model to be suitable for 3D printing and I published the result <a href="https://www.thingiverse.com/thing:4491775">here</a>, so you could get one too!
    This is a relic of LoE, it reminds of the game, its team and its community!
    It is 16.3cm tall and it took 66 hours to print!
    </p>
    <ul class="linklist">
      <li><a href="https://www.deviantart.com/mraagh/art/3D-Printed-Alicorn-Statue-from-LoE-846162793">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://www.thingiverse.com/thing:4491775">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> this on Thingiverse!</a></li>
      <li><a href="https://legendsofequestria.com">
          <img alt="" class="icon" src="../img/icons/loe.png"> Legends of Equestria!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/alicorns-big.jpg" title="Click for full size!">
      <img class="responsive" alt="3D printed statue of two alicorn sisters"
                              width="1040" height="780" src="../img/alicorns-small.jpg"></a></p>
  </div>
</div>



