title: My script collection!
card: img/mkw_script-card.png
date: 2020-09-06
category: Coding
---

<div class="containereq"><div>
    <h2>My script collection!</h2>
    <p class="text">I am one of those who spend a huge amount of time customizing their programs and making little tools for themselves!
    I have a repository of my scripts and configuration files.
    I made an effort to keep my scripts short and simple, because simple things break less often, and when they break, they are easy to fix!
    The main purpose of the repository is to let me synchronize my settings, but you can also look at it if you want!
    I also added some links to specific scripts which I think might be useful!
    Keep in mind that these only work on Linux!
    </p>
  </div><div>
    <ul style="list-style: none;">
      <li><a title="GitLab repository!" href="https://gitlab.com/MRAAGH/d">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> here is the whole repository!</a></li>
      <li><a title="A file on gitlab!" href="https://gitlab.com/MRAAGH/d/-/blob/main/bin/mkw">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> random zoomed and blurred wallpapers across 3 screens!</a></li>
      <li><a title="A file on gitlab!" href="https://gitlab.com/MRAAGH/d/-/blob/main/bin/dmenu-mount">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> a menu for mounting USB keys and SD cards!</a></li>
      <li><a title="A file on gitlab!" href="https://gitlab.com/MRAAGH/d/-/blob/main/bin/dmenu-octoprint">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> a menu for executing 3D printer operations!</a></li>
      <li><a title="A file on gitlab!" href="https://gitlab.com/MRAAGH/d/-/blob/main/bin/dmenu-scrot">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> a simple screenshoting menu!</a></li>
      <li><a title="A file on gitlab!" href="https://gitlab.com/MRAAGH/d/-/blob/main/bin/pass-sync">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> synchronize password database WITHOUT git!</a></li>
      <li><a title="A file on gitlab!" href="https://gitlab.com/MRAAGH/petting.town-notifications">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> notifications for petting.town!</a></li>
      <li><a title="A file on gitlab!" href="https://gitlab.com/MRAAGH/d/-/blob/main/.vimrc">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> my settings for Vim and Neovim!</a></li>
      <li><a title="A file on gitlab!" href="https://gitlab.com/MRAAGH/d/-/blob/main/.config/ranger/rc.conf">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> my settings for Ranger (best program ever)!</a></li>
      <li><a title="A file on gitlab!" href="https://gitlab.com/MRAAGH/d/-/blob/main/.config/awesome/rc.lua">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> my settings for Awesome window manager!</a></li>
      <li><a title="A file on gitlab!" href="https://gitlab.com/MRAAGH/d/-/blob/main/.config/i3/config">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> my settings for i3 window manager! (not used any more)</a></li>
      <li><a title="A file on gitlab!" href="https://gitlab.com/MRAAGH/d/-/blob/main/pac">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> list of programs I install by default!</a></li>
    </ul>
  </div>
</div>


