title: mazie.rocks website!
card: img/stick_mazie-card.png
date: 2020-09-06
category: About
---

<div class="centerhalf">
  <h2>mazie.rocks website!</h2>
  <p class="text">
  One day I decided I want to have a website!
  I recommend this, it is fun!
  If you have your own website, you will have an online presence independent of the big applications and platforms and the companies who run them.
  It is also a nice place for me to collect all my stuff together!
  Previously, it was scattered all over the Internet!
  </p>
  <p class="text">
  I've gone through a bunch of different designs already,
  I want a site that's not mainstream but still looks nice and
  works fine on a lot of different devices.
  I avoided Javascript as much as possible.
  This site also doesn't use any cookies, libraries or external resources.
  </p>
  <p class="text">
  At first, I put everything on 1 page because I heard this is usually a good idea.
  It makes websites more maintainable.
  Later I made it multi-page after all, because it was too big for one page.
  I'm using a simple, self-written content management system which you can find on
  <a title="GitLab repository!" href="https://gitlab.com/MRAAGH/mazie.rocks">GitLab</a>
  along with the content of the page.
  </p>
  <p class="text">
  All my CMS does is generate the cards and add the css and navigation bar to each page.
  </p>
  <ul class="linklist">
    <li><a title="GitLab repository!" href="https://gitlab.com/MRAAGH/mazie.rocks">
        <img alt="" class="icon" src="../img/icons/gitlab.png"> see code!</a></li>
  </ul>
</div>


