title: What is my name?
card: img/stick_mazie_question-card.png
date: 2020-11-14
category: About
---

<div>
  <h2>Disambiguation! What is my name?</h2>
  <p>You can find me by multiple different names on the Internet.
  I wanted to make a quick list to avoid confusion!
  </p>
  <ul>
    <li><b>Maze</b> is my Internet name which I prefer being addressed by</li>
    <li><b>Mazie</b> is just a cuter version of Maze</li>
    <li><b>Maizie</b> is not my name, it is a name of a friend of mine</li>
    <li><b>Azie</b> is also not my name, it is a name of a friend of mine</li>
    <li><b>MRAAGH</b> is my username where Maze is unavailable (MRAAGH! They took mu name!!)</li>
    <li><b>Mazepony</b> may or may not be me, depending on platform. But Mazepony on DeviantArt is definitely not me.</li>
    <li><b>RedsBone</b> is my previous Internet name which I do not use any more</li>
    <li>I also have a real name which is not Maze and I don't want to share or use it on the Internet</li>
    <li>Also, <b>hihi</b> is my equivalent of heehee. I use this to indicate that a sentence is not sarcastic, among other things, hihi</li>
  </ul>
</div>

