title: Happy birthday, Ethereal!
card: img/etherealcookie-card.jpg
date: 2020-07-29
category: Pony art
---

<div class="containereq"><div>
    <h2>Ethereal Serenity, me and a cake-sized frosted cat cookie!</h2>
    <p class="text">
    To draw this, I used
    <a href="https://www.deviantart.com/dream-weaver-pony/art/Crystal-Pony-784282625">this reference</a>
    for Ethereal Serenity and
    <a href="https://www.deviantart.com/aureai/art/Gift-to-Cyan-672839819">this reference</a>
    for the pose (although pony size was modified).
    This is the first time I did some shading with color pencils and I'm quite happy with how this turned out!
    </p>
    <p class="text">
    Big thanks to
    <a href=https://www.deviantart.com/arterialblack716/art/Cellphone-Drawing-36-833062872>my friend Arterial</a>
    for coming up with a mane style for me, I will use this from now on!
    </p>
    <ul class="linklist">
      <li><a href="https://www.deviantart.com/mraagh/art/Happy-birthday-Ethereal-Serenity-850296039">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://www.deviantart.com/mraagh">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> my DeviantArt!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/etherealcookie-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Drawing of Ethereal Serenity and Maze" width="685" height="687" src="../img/etherealcookie-small.jpg"></a></p>
  </div>
</div>



