title: 3D printed Sorupony!
card: img/sorupony-card.jpg
date: 2020-08-06
category: 3D printing
---

<div class="containereq">
  <div>
    <h2>Sorunome pony</h2>
    <p class="text">
    A pony figurine for my friend!
    This is an original model made in Blender and then 3D printed and painted!
    It is 7.7cm tall!
    </p>
    <ul class="linklist">
      <li><a href="https://mazie.rocks/files/sorupainted/">
          <img alt="" class="icon" src="../img/icons/mazie.png"> turntable!</a></li>
      <li>(code by <a href="https://andreymal.org/">Andrey Kashlak</a>)</li>
      <li><a href="https://ponyprinter.com/downloads">
        <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>
      <li><a href="https://www.deviantart.com/mraagh/art/Sorunome-Pony-851173223">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://www.thingiverse.com/thing:4563174">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> this on Thingiverse!</a></li>
      <li><a href="https://ponyprinter.com">
          <img alt="" class="icon" src="../img/icons/mazie.png"> commission me!</a></li>
    </ul>
  </div>
  <div>
    <p>
    <a title="Click for full size!" href="https://files.mazie.rocks/sorupainted_w.mp4">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/sorupony-small.jpg">
        <source src="https://files.mazie.rocks/sorupainted_w.mp4" type="video/mp4">
        <span>spinning Sorupony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>



