title: 3D printed Bordy
card: img/bordy-card.jpg
date: 2020-10-17
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Bordy pony!</h2>
    <p class="text">
    A gift for my friend! This is a 3D replica of an art piece by <a href="https://twitter.com/velvet_frame/status/1210350879343357953">Velvet Frame</a> (don't worry, it is not actually NSFW). This figurine is 6 cm tall and it is supposed to be attached to the ceiling upside down.<br />
    For the pony base, I used <a href="https://ponysfm.com/augmented-enhanced-pony-models">this</a> with a custom pose. The mane and tail are original models made in Blender!<br />
    I printed it on my Creality Ender 3 printer, and it took about 6 hours.<br />
    I painted it with aerosol spray and with brushes and acrylic paints. For the gradient mane, I used an acrylic spray.
    </p>
    <ul class="linklist">
      <li><a href="https://mazie.rocks/files/bordy/">
          <img alt="" class="icon" src="../img/icons/mazie.png"> turntable!</a></li>
      <li>(code by <a href="https://andreymal.org/">Andrey Kashlak</a>)</li>
      <li><a href="https://ponyprinter.com/downloads">
          <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>
      <li><a href="https://www.deviantart.com/mraagh/art/3D-printed-Bordy-855806320">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://www.thingiverse.com/thing:4603180">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> this on Thingiverse!</a></li>
      <li><a href="https://ponyprinter.com">
          <img alt="" class="icon" src="../img/icons/mazie.png"> commission me!</a></li>
    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="../img/bordy-video-silent.webm">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/bordy-big.jpg">
        <source src="../img/bordy-video-silent.webm" type="video/webm">
        <span>spinning Bordy pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>



