title: 3D printed Violet Ray
card: img/violetray-card.jpg
date: 2020-10-18
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Violet Ray pony!</h2>
    <p class="text">
    A gift for my friend! This is a 3D replica of <a href="https://derpibooru.org/images/1891132">an art piece by Cappie</a>. This figurine is 6 cm tall.<br />
    For the pony base, I used <a href="https://ponysfm.com/augmented-enhanced-pony-models">this</a> with a custom pose. The mane and tail are original models made in Blender!<br />
    The tail and the ponytail are printed separately.<br />
    I printed it on my Creality Ender 3 printer, and it took about 6 hours.<br />
    I painted it with brushes and acrylic paints.
    </p>
    <ul class="linklist">
      <li><a href="https://mazie.rocks/files/violetray/">
          <img alt="" class="icon" src="../img/icons/mazie.png"> turntable!</a></li>
      <li>(code by <a href="https://andreymal.org/"> Andrey Kashlak</a>)</li>
      <li><a href="https://ponyprinter.com/downloads">
          <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>
      <li><a href="https://www.deviantart.com/mraagh/art/3D-printed-Violet-Ray-856909111">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://www.thingiverse.com/thing:4613347">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> this on Thingiverse!</a></li>
      <li><a href="https://ponyprinter.com">
          <img alt="" class="icon" src="../img/icons/mazie.png"> commission me!</a></li>
    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="../img/violetray-video-silent.webm">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/violetray-big.jpg">
        <source src="../img/violetray-video-silent.webm" type="video/webm">
        <span>spinning Violet Ray pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>



