title: Cube trick
card: img/cube-card.jpg
date: 2020-10-07
category: Weird stuff
---

<video class="responsive" width="1920" height="1080" controls poster="../img/cube-big.jpg">
  <source src="../img/cube.webm" type="video/webm">
  <span>Rubik's cube trick</span>
</video>

<h2>Cube trick</h2>
<p class="text">
The small cube is incredibly heavy, and it makes this possible. It's a black hole cube.
</p>
</div>



