title: 3D Marshmallow Cactus!
card: img/third-card.jpg
date: 2020-10-18
category: 3D printing
---

<div class="containereq">
  <div>
    <h2>Marshmallow Cactus pony</h2>
    <p class="text">
    Commission for Third Edit!
    This is an original model made in Blender and then 3D printed in 6 parts!
    It is 15cm tall and assembled using screws. The headphones are detachable!
    </p>
    <p class="text">
    Files needed for printing and instructions are <a href="https://www.thingiverse.com/thing:4627435">on Thingiverse</a>!
    </p>
    <ul class="linklist">
      <li><a href="https://www.deviantart.com/mraagh/art/Marshmallow-Cactus-3D-printed-858478113">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://ponyprinter.com/downloads">
        <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>
      <li><a href="https://www.thingiverse.com/thing:4627435">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> this on Thingiverse!</a></li>
      <li><a href="https://ponyprinter.com">
          <img alt="" class="icon" src="../img/icons/mazie.png"> commission me!</a></li>
    </ul>
  </div>
  <div>
    <p>
    <a title="Click for full size!" href="../img/third-video-silent.webm">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/third-big.jpg">
        <source src="../img/third-video-silent.webm" type="video/webm">
        <span>spinning Marshmallow Cactus pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>



