title: 3D printed keyboard!
card: img/mechanical_wiring-card.jpg
date: 2022-04-03
category: Modding
---

<div class="containereq"><div>
    <h2>My 3D printed keyboard!</h2>
    <p class="text">This new keyboard is even weirder than the last!
    It is based on <a href="https://github.com/tshort/dactyl-keyboard">this</a>,
    but a little bit modified and upgraded!
    Just like my previous keyboard, it's be in 2 pieces
    and tilted. But the big difference is, the left and the right piece don't
    act as independent keyboards; they are connected and act as one!
    This makes it more reliable!
    </p>
    <p class="text">
    I used keycaps from a fake mechanical keyboard which
    is not being used any more! It is a rubber dome keyboard
    but with Cherry-compatible stems, it's kinda weird actually!
    I also printed some
    <a href="https://github.com/rsheldiii/KeyV2/">custom keycaps</a>
    for the thumb cluster!
    </p>
    <p class="text">
    I originally wanted to make it a white frame with grey keycaps,
    but now when I've added Fischertechnik and black keycaps,
    white looks ugly! So I decided to reprint it in black!
    </p>
  </div><div>
    <p><a href="../img/mechanical-big.jpg" title="Click for full size!">
      <img alt="My WIP split mechanical keyboard" class="responsive"
                                                  width="1040" height="780" src="../img/mechanical-small.jpg"></a></p>
</div></div>

<div class="containereq"><div>
    <h3>How much it cost:</h3>
    <ul>
      <li>19€ for 68 Outemu blue mechanical switches</li>
      <li>7€ for Arduino Teensy 2.0</li>
      <li>1€ for MCP23017 Serial Interface Module</li>
      <li>1€ for 100 diodes (1N4148)</li>
      <li>Fischertechnik blocks probably worth around 10€. They are reusable though!</li>
      <li>Keycaps came from a 25€ keyboard</li>
      <li>6€ for 3D printing filament</li>
      <li>0.5€ for the TRRS connectors</li>
      <li>0.1€ for the USB connector</li>
      <li>I already had wires and no idea what they're worth</li>
      <li>Months of work</li>
    </ul>
    <ul class="linklist">
      <li><a title="GitHub repository!" href="https://github.com/tshort/dactyl-keyboard">
          <img alt="" class="icon" src="../img/icons/github.png"> the keyboard!</a></li>
      <li><a title="GitHub repository!" href="https://github.com/adereth/dactyl-keyboard">
          <img alt="" class="icon" src="../img/icons/github.png"> the original keyboard!</a></li>
      <li><a title="GitHub repository!" href="https://github.com/rsheldiii/KeyV2/">
          <img alt="" class="icon" src="../img/icons/github.png"> the keycaps!</a></li>
    </ul>
</div><div>
    <p><a href="../img/mechanicalprinter-big.jpg" title="Click for full size!">
      <img alt="My WIP split mechanical keyboard (on the printer)" class="responsive"
                                                                   width="1040" height="780" src="../img/mechanicalprinter-small.jpg"></a></p>
</div></div>

<div class="containereq"><div>
    <h3>UPDATE May 22, 2020:</h3>
    <p class="text">
    Prototype chair mount for this keyboard!
    </p>
    <p class="text">
    The idea for this was, that if you have multiple screens, it's better to have your keyboard on the chair, instead of on the desk.
    Otherwise you might need to turn your head for long periods of time.
    For someone like me with neck issues, it's better to turn the chair, hihi.
    Building blocks are great for prototyping!
    </p>
  </div><div>
    <p><a href="../img/mechanicalchair-big.jpg" title="Click for full size!">
      <img alt="A chair with a Fischertechnik structure attached" class="responsive"
                                                                  width="1040" height="780" src="../img/mechanicalchair-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>UPDATE May 23, 2020:</h3>
    <p class="text">
    Better chair mount!
    </p>
    <p class="text">
    I tried a bunch of different things and this seems to be the best attachment method for this chair.
    It goes through the mechanism for adjusting the arm rests horizontally.
    </p>
    <p class="text">
    There's a 3D printed holder for the hex screws which prevents them from spining, so I can screw things on without needing to open the chair again.
    It is a very simple solution, I'm happy that I found it!
    </p>
    <p class="text">
    I think you should always keep trying to find simpler solutions whenever you are designing something.
    Because eventually, you'll find something that's so simple that it has barely any parts that could break or have negative side effects!
    </p>
    <p class="text">
    I still need to sort out the wire problem (I don't want a wireless keyboard), and then I'm set!
    I'm thinking, I might make the keyboard usb cable go from the chair's head rest straight to the ceiling of my room, because that'd be kinda cool, and it wouldn't be in the way of things!
    </p>
  </div><div>
    <p><a href="../img/mechanicalchairscrew-big.jpg" title="Click for full size!">
      <img alt="A chair with a keyboard attached" class="responsive"
                                                  width="1040" height="780" src="../img/mechanicalchairscrew-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>UPDATE November 02, 2020:</h3>
    <p class="text">
    Wired and working!
    </p>
    <p class="text">
    This is 5 months later; I procrastinated on this project for a long time but now I finally did something!
    I loaded up <a href="">qmk firmware</a> on my Teensy and connected the MCP23018 over I2C (this represents the other half of the keyboard).
    </p>
    <p class="text">
    On the image you can see how I connected 4 switches to the MCP23018 to test what's the correct way to arrange the pins and the diodes.
    </p>
</div><div>
    <p><a href="../img/mechanical_teensytest-big.jpg" title="Click for full size!">
      <img alt="Testing a Teensy and MCP23017" class="responsive"
                                                  width="1040" height="780" src="../img/mechanical_teensytest-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>Later that day ...</h3>
    <p class="text">
    Once that was working right, I knew how to wire the keyboards. It was the row-driven design.
    </p>
    <p class="text">
    I soldered the wires and diodes on to my switches. I also hot-glued all the switches in place because the plastic itself was not firm enough, keys were still falling out sometimes!
    </p>
    <p class="text">
    With the wired keys, I was able to put together a test for checking which pin is correct for which row and which column. These things are in guides, but I always like to double check!
    </p>
</div><div>
    <p><a href="../img/mechanical_test-big.jpg" title="Click for full size!">
      <img alt="Testing a keyboard" class="responsive"
                                                  width="1040" height="780" src="../img/mechanical_test-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>Finishing up the wiring</h3>
    <p class="text">
    I labeled all the wires to make sure I don't forget the order.
    </p>
    <p class="text">
    Then I soldered the wires directly to the chips. I could have made them detachable, but in this situation, that is actually a bad thing. I don't want my keyboard randomly detaching itself on the inside.
    </p>
    <p class="text">
    And even when it's soldered, it is still "detachable" enough that I can change it if I want.
    </p>
</div><div>
    <p><a href="../img/mechanical_wiring-big.jpg" title="Click for full size!">
      <img alt="Fully wired keyboards" class="responsive"
                                                  width="1040" height="780" src="../img/mechanical_wiring-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>Finally mounted</h3>
    <p class="text">
    I custom-designed a bottom cover that can be 3D printed and attached with screws.
    </p>
    <p class="text">
    The cover has Fischertechnick rails. And then I use building blocks for attaching the keyboard to my chair. Plus it has customizable wrist rests!
    </p>
</div><div>
    <p><a href="../img/mechanical_mounted-big.jpg" title="Click for full size!">
      <img alt="Fully wired keyboards" class="responsive"
                                                  width="1040" height="780" src="../img/mechanical_mounted-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>And it can do this!</h3>
</div><div>
    <p><a href="../img/mechanical_spread-big.jpg" title="Click for full size!">
      <img alt="Fully wired keyboards" class="responsive"
                                                  width="1040" height="780" src="../img/mechanical_spread-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>UPDATE July 20, 2021:</h3>
    <p class="text">
    It's expansion time! I decided I want 4 more keys on the right keyboard. A whole extra column!
    </p>
    <p class="text">
    I had a WIP photo of the unfinished wiring but I accidentally deleted it so have this instead, hihi. I printed a case for an extra 4 keys that fits perfectly and I made a little cut in the side of the previous wall to run wires here. In the wiring, these four keys fit in the remaining spots in the matrix, makig it a perfect logical 6 by 6 keypad!
    </p>
    <p class="text">
    I only expanded the right keyboard half. I don't need extra keys on the left (for now).
    </p>
</div><div>
    <p><a href="../img/mechanical_extrawiring-big.jpg" title="Click for full size!">
      <img alt="Wiring the extra row" class="responsive"
                                                  width="1040" height="780" src="../img/mechanical_extrawiring-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <p class="text">
    I designed and printed a slightly bigger plate to fit. It looks like it was meant to be there!
    </p>
    <p class="text">
    Pay no attention to the key labels. The actual key layout is based on Ergodox US, but quite modified.
    </p>
    <p class="text">
    The new row I just added hosts =, ], \ and right alt. Also F12, and probably other things soon!
    </p>
</div><div>
    <p><a href="../img/mechanical_extrarow-big.jpg" title="Click for full size!">
      <img alt="Fully wired keyboards" class="responsive"
                                                  width="1040" height="780" src="../img/mechanical_extrarow-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>And finally</h3>
    <p class="text">
    It's time to release these files! I'm happy with the 3D printing part of the project. If I ever do want to add an extra column on the left, I will just re-use these same files. So I'm done with modeling!
    </p>
    <ul class="linklist">
      <li><a href="https://mazie.rocks/files/ergodox.zip">
        <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>
      <li><a href="https://www.thingiverse.com/thing:4912656">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> this on Thingiverse!</a></li>
    </ul>
</div><div>
    <p><a href="../img/mechanical_13col-big.jpg" title="Click for full size!">
      <img alt="Fully wired keyboards" class="responsive"
                                                  width="1040" height="780" src="../img/mechanical_13col-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>UPDATE August 02, 2021:</h3>
    <p>
    I'm finally addressing the wire problem by building a crane for the wire!
    </p>
    <ul class="linklist">
      <li><a href="crane.html">
          <img alt="" class="icon" src="../img/icons/mazie.png"> Read more!</a></li>
    </ul>
</div><div>
    <p><a href="../img/crane_built-big.jpg" title="Click for full size!">
      <img alt="Aluminium crane in my room" class="responsive"
                                                  width="1040" height="780" src="../img/crane_built-small.jpg"></a></p>
</div></div>

<div class="containereq"><div>
    <h3>UPDATE April 03, 2022:</h3>
    <p class="text">
    Lots of small improvements. Wires now run through a hole in the bottom plate (this way the connectors are not exposed to hitting the desk when the chair moves). The left side is particularly exposed to hitting things, so it gets a protective ring. In general, all Fischertechnik sections have been redesigned to fall apart less often. I added decorative USB ports and made one of the keys red to make it look more evil!
    </p>
    <p class="text">
    Importantly, the wrist rest attachments are much different now. The new design is incredibly sturdy and the wrist rests do not wiggle at all. Having wrist rests firmly fixed to the keyboard helps with typing accuracy! Additionally, the wrist rests are now easily removable, which allows the keyboard to fold back all the way when it is not needed.
    </p>
  </div><div>
    <p><a href="https://mazie.rocks/files/mechanical2022-big.jpg" title="Click for full size!">
      <img alt="A chair-attached keyboard with hidden wires" class="responsive"
                                                                  width="1040" height="780" src="../img/mechanical2022-small.jpg"></a></p>
</div></div>
