title: 3D printed Chacek
card: img/chacek-card.jpg
date: 2020-12-04
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Chacek pony!</h2>
    <p class="text">
    A gift for my friend! This is a 3D replica of <a href="../img/chacek_avi.png">his profile picture</a>. This figurine is 20 cm tall.<br />
    For the pony base, I used <a href="https://www.deviantart.com/aeridiccore/art/DL-Sourcefiles-DMX-Enhanced-Males-747533654">this model by aeridiccore</a>.
    I can't find the source of the mane and tail model, sorry.<br />
    I split it into pieces in Blender. This was actually my third 3D printable pony I made, I made it over a year earlier than I'm posting this and I was quite proud of this!<br />
    I printed it on my Creality Ender 3 printer.<br />
    I painted the green and yellow parts with acryl spray. Everything else is with brush and acrylic paint.<br />
    And yes, I know that I forgot the nostrils.
    </p>
    <ul class="linklist">
      <li><a href="https://mazie.rocks/files/chacek/">
          <img alt="" class="icon" src="../img/icons/mazie.png"> turntable!</a></li>
      <li>(code by <a href="https://andreymal.org/"> Andrey Kashlak</a>)</li>
      <li><a href="https://ponyprinter.com/downloads">
          <img alt="" class="icon" src="../img/icons/mazie.png"> download all files!</a></li>
      <li><a href="https://www.deviantart.com/mraagh/art/3D-printed-Chacek-863091001">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://www.thingiverse.com/thing:4674567">
          <img alt="" class="icon" src="../img/icons/thingiverse.png"> this on Thingiverse!</a></li>
      <li><a href="https://ponyprinter.com">
          <img alt="" class="icon" src="../img/icons/mazie.png"> commission me!</a></li>
    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="../img/chacek-video-silent.webm">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/chacek-big.jpg">
        <source src="../img/chacek-video-silent.webm" type="video/webm">
        <span>spinning Chacek pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>



