title: Princess Sorutree
card: img/princess_sorutree-card.png
date: 2020-12-06
category: Pony art
---

<div class="containereq"><div>
    <h2>Princess Sorutree vector art!</h2>
    <p class="text">
    My first vector art! Part of <a href="https://files.mazie.rocks/yay.png">this gift for Sorunome</a><br />
    The pose is traced, everything else is original!
    Made using Inkscape!
    </p>
    <p class="text">
    This was pretty big for a first vector project, it took me almost a whole day to make this, but I learned a lot! Thanks to my friend Autumn Dawn for a few tips, and Anoa for suggestions!
    </p>
    <p class="text">
    I'm happy with the result, I'm not seeing anything that could be better. The anatomy is fine, thanks to the reference. The features are not perfectly symmetrical, they're just as symmetrical as they need to be. And I made sure to make all lines proper vectors. So if you zoom in you don't find cheap constant-width lines where there shouldn't be. Everythnig has enough contrast and I'm happy with the colors; I added 5 red objects to balance out with the green mane and the yellow and purple are complementary as well!
    </p>
    <ul class="linklist">
      <li><a href="https://www.deviantart.com/mraagh/art/Princess-Sorutree-862947751">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://files.mazie.rocks/princess_sorutree.svg">
          <img alt="" class="icon" src="../img/icons/mazie.png"> download SVG!</a></li>
      <li><a href="https://files.mazie.rocks/sorutree.jpg">
          <img alt="" class="icon" src="../img/icons/mazie.png"> my sketch for this!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/princess_sorutree-big.png" title="Click for full size!">
      <img class="responsive" alt="Sorunome with christmas tree hair" width="500" height="500" src="../img/princess_sorutree-small.png"></a></p>
  </div>
</div>



