title: 3D printed Azie
card: img/azie-card.jpg
date: 2020-12-29
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Azie pony!</h2>
    <p class="text">
    Commission for Azure Serenity!
    </p>

    <p class="text">
    Probably the highest effort figurine I've made, this is a 25cm floating pony, with spread wings and a complex mane with a braid, all of which present a challenge for 3D printing.
    The whole thing is an original model made in Blender and printed in 10 parts on my Creality Ender 3.
    <a href="https://www.deviantart.com/aurelleaheverfreeart/art/Azure-Serenity-Reference-Sheet-Patreon-Reward-675952296">Reference used</a> (by AurelleahEverfreeArt)
    </p>
    <p class="text">
    I learned a lot while designing this, in particular I started using proper sculpting tools instead of just intersecting smooth objects.
    You really can't make a braid like this otherwise.
    I'll use sculpting a lot more in the future, it's a more artistic and free way to design pretty models.
    </p>
    <p class="text">
    for structural strength, a lot of this is held together by screws. There are 2 screws inside the braid and one in each wing. There's a screw in the tail too, of course. But even so, there are weak spots. The bow at the end of the braid, for example, could break off easily.
    These wings are printed out of PET-G which I don't usually use for models that get painted (PET-G just doesn't print so nicely) but PLA was just too fragile in this case.
    </p>
    <p class="text">
    I painted it with acrylic spray, airbrush and regular brush.
    If you're interested in the details about design and production, click <a href="https://ponyprinter.com/details.html">here</a>.
    </p>

    <ul class="linklist">
    <li><a href="https://mazie.rocks/files/aziepainted/">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Turntable!</a></li>
      <li>(code by <a href="https://andreymal.org/"> Andrey Kashlak</a>)</li>

    <li><a href="https://ponyprinter.com/downloads">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>

    <li><a href="https://www.thingiverse.com/thing:4700850">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> This on Thingiverse!</a></li>

    <li><a href="https://www.deviantart.com/mraagh/art/3D-printed-Azie-865426002">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> This on Deviantart!</a></li>

    <li><a href="https://ponyprinter.com">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Commission me!</a></li>

    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="../img/azie-video-silent.webm">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/azie-big.jpg">
        <source src="../img/azie-video-silent.webm" type="video/webm">
        <span>spinning Azie pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>
