title: 3D printed Dawnie
card: img/dawnie-card.jpg
date: 2021-01-11
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Dawnie pony!</h2>
    <p class="text">
    This 50cm figure is a posed SFM model with an original mane and tail, made in Blender and then printed in 4 parts and painted!
    </p>
    <p class="text">
    A gift for my friend Autumn Dawn!
    </p>
    <p class="text">
    This was the first pony model I made; I made it 16 months ago! <br />
    Not sure why I started so big. It was definitely a challenge!
    </p>
    <p class="text">
    This may not be as polished as some of the ponies I made later. <br />
    The 3D model is very wrinkly because it is from SFM. <br />
    SFM models are not the best for 3D printing, hihi. <br />
    I had to add a lot of putty to make her as smooth as she is. <br />
    I still think she turned out great!
    </p>

    <p class="text">
    I'd like to point out that all main colors are spray-painted: purple, yellow and pink. Masking was very difficult because this is such a complicated shape!
    </p>

    <p class="text">
    Also, I finally fixed my turntable so it doesn't shake any more! Yay for smoother video!
    </p>

    <p class="text">
    Material: PLA
    </p>

    <p class="text">
    Printer: Creality Ender 3
    </p>

    <p class="text">
    Paint: acryl spray and acrylic paint
    </p>

<ul class="linklist">
    <li><a href="https://mazie.rocks/files/dawnie/">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Turntable!</a></li>
      <li>(code by <a href="https://andreymal.org/"> Andrey Kashlak</a>)</li>

    <li><a href="https://ponyprinter.com/downloads">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>

    <li><a href="https://ponysfm.com/augmented-enhanced-pony-models">
      SFM model source!</a></li>

    <li><a href="https://www.thingiverse.com/thing:4719489">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> This on Thingiverse!</a></li>

    <li><a href="https://www.deviantart.com/mraagh/art/3D-printed-Autumn-Dawn-866817989">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> This on Deviantart!</a></li>


    <li><a href="https://ponyprinter.com">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Commission me!</a></li>

    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="../img/dawnie-video-silent.webm">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/dawnie-video.jpg">
        <source src="../img/dawnie-video-silent.webm" type="video/webm">
        <span>spinning Dawnie pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>
