title: Cool volume knob
card: img/volume_guts-card.jpg
date: 2021-08-19
category: Modding
---

<div class="containereq"><div>
    <h2>Big 3D printed volume knob!</h2>
    <p class="text">
    I was annoyed by the quality of the default volume knobs on headphones.
    They keep losing contact, getting dust in them, and the volume doesn't change smoothly.
    </p>

    <p class="text">
    So I got myself one of those bigger potentiometers and made a cool design to house it!
    This was 3D printed and you can print your own, the design is available through the links below!
    </p>



    <p class="text">
    Material: PLA
    </p>

    <p class="text">
    Printer: Creality Ender 3
    </p>

<ul class="linklist">
    <li><a href="https://mazie.rocks/files/volume.zip">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files! [v2]</a></li>

    <li><a href="https://www.thingiverse.com/thing:4789267">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> This on Thingiverse! [v2]</a></li>


    </ul>
</div><div>
<p><a href="../img/volume_hand-big.jpg" title="Click for full size!">
      <img alt="Volume knob in hand" class="responsive"
                                                  width="960" height="540" src="../img/volume_hand-small.jpg"></a></p>
</div> </div>
<div class="containereq"><div>

    <p class="text">
    It is an ergonomic design, it fits nicely in either hand! Because it's big enough, it's also easy to use if you have it underneath clothes!
    </p>

    <p class="text">
    This was the first time I designed a 3D model using SVG. I think it turned out great!
    I'll be doing this more in the future. I can make a pretty 2D shape and extrude it into 3D.
    Such a shape is guaranteed to print well because all the walls are perfectly vertical and all the top surfaces are perfectly horizontal!
    </p>

</div><div>
<p><a href="../img/volume_noknob-big.jpg" title="Click for full size!">
      <img alt="Volume knob but without the knob" class="responsive"
                                                  width="960" height="540" src="../img/volume_noknob-small.jpg"></a></p>
</div> </div>



<div class="containereq"><div>

    <p class="text">
    After using this for a few months, I noticed a few problems. The bits marked by red circles broke due to the forces from the wire, and the wire itself kept getting cut where it's marked blue.
    </p>
    <p class="text">
    Additionally, assembling this thing was always an ordeal. When you put the screws in, they need to run through the loops in the wire. And you can't even see the wire because the cover would be on. A redesign was in order.
    </p>
 A redesign was in order.

</div><div>
<p><a href="../img/volume_problems-big.jpg" title="Click for full size!">
      <img alt="Volume knob internals with circled problems" class="responsive"
                                                  width="960" height="540" src="../img/volume_problems-small.jpg"></a></p>
</div> </div>

<div class="containereq"><div>

    <h3>Version 3</h3>

    <p class="text">
    This is version 3. The previous was version 2 (version 1 was scrapped because it was anti-ergonomic). Version 2 and 3 look almost identical from the outside; the only difference is the position of the screws.
    </p>

<ul class="linklist">
    <li><a href="https://mazie.rocks/files/volumev3.zip">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files! [v3]</a></li>

    <li><a href="https://www.thingiverse.com/thing:4941628">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> This on Thingiverse! [v3]</a></li>


    </ul>
</div><div>
<p><a href="../img/volume_v3_assembled-big.jpg" title="Click for full size!">
      <img alt="Assembled volume knob version 3" class="responsive"
                                                  width="960" height="540" src="../img/volume_v3_assembled-small.jpg"></a></p>
</div> </div>

<div class="containereq"><div>

    <p class="text">
    After taking the cover off, we can see that the internal structure is different. The two previously sensitive flaps at the top are much thicker and have screws going through.
    </p>
    <p class="text">
    Instead of reusing a structural screw to hold the wire, I added a small internal screw specifically for this purpose. There would be one on the other side as well, but I accidentally put a bit too much heatshrink on the wire so it doesn't properly fit in this channel. Now the wedged heatshrink is what's holding this wire in, rather than a screw. But this is fine, the pins on the potentiometer are relieved of the tension, which is all I wanted.
    </p>

</div><div>
<p><a href="../img/volume_v3_guts-big.jpg" title="Click for full size!">
      <img alt="New volume knob internals (v3)" class="responsive"
                                                  width="960" height="540" src="../img/volume_v3_guts-small.jpg"></a></p>
</div> </div>
