title: Crazie Mazie
card: img/crazy-card.png
date: 0038-05-01
category: Weird stuff
---

<div class="sidenav" style="left: 200px;">

  <a href="../index.html" title="Go to home" class="homebuttona">
    <img class="homebutton homebutton1" alt="Stick pony Maze"
      width="200" height="158" src="../img/stick_mazie.png">
    <img class="homebutton homebutton2" alt="Stick pony Maze"
      width="200" height="158" src="../img/mazie_pixel_upscale.png"></a>

  <div class="sidenavlinks">
    <div class="sidenavlinksfirst">
      <ul>
        <li><a title="Tag: Games" href="../c/games.html">
          <img alt="" class="icon" src="../img/icons/aagrinder.png"> Games</a></li>
        <li><a title="Tag: Coding" href="../c/coding.html">
          <img alt="" class="icon" src="../img/icons/coding.png"> Coding</a></li>
        <li><a title="Tag: Modding" href="../c/modding.html">
          <img alt="" class="icon" src="../img/icons/screwdriver.png"> Modding</a></li>
        <li><a title="Tag: 3D printing" href="../c/3dprinting.html">
          <img alt="" class="icon" src="../img/icons/printer.png"> 3D printing</a></li>
        <li><a title="Tag: Pony art" href="../c/ponies.html">
          <img alt="" class="icon" src="../img/icons/mazestare.png"> Pony art</a></li>
        <li><a title="Tag: Weird stuff" href="../c/weird.html">
          <img alt="" class="icon" src="../img/icons/video.png"> Weird stuff</a></li>
        <li><a title="Tag: About" href="../c/about.html">
          <img alt="" class="icon" src="../img/icons/mazie.png"> About</a></li>
      </ul>
    </div>

    <div class="sidenavlinkssecond">
      <ul>
        <li><a title="Crazie Mazie" href="https://crazy.mazie.rocks">
          <img alt="" class="icon" src="../img/icons/crazie.png"> Crazie Mazie</a></li>
        <li><a title="Crazie Mazie" href="https://crazy.mazie.rocks">
          <img alt="" class="icon" src="../img/icons/crazie.png"> Crazie Mazie</a></li>
        <li><a title="Crazie Mazie" href="https://crazy.mazie.rocks">
          <img alt="" class="icon" src="../img/icons/crazie.png"> Crazie Mazie</a></li>
        <li><a title="Crazie Mazie" href="https://crazy.mazie.rocks">
          <img alt="" class="icon" src="../img/icons/crazie.png"> Crazie Mazie</a></li>
        <li><a title="Crazie Mazie" href="https://crazy.mazie.rocks">
          <img alt="" class="icon" src="../img/icons/crazie.png"> Crazie Mazie</a></li>
        <li><a title="Crazie Mazie" href="https://crazy.mazie.rocks">
          <img alt="" class="icon" src="../img/icons/crazie.png"> Crazie Mazie</a></li>
        <li><a title="Crazie Mazie" href="https://crazy.mazie.rocks">
          <img alt="" class="icon" src="../img/icons/crazie.png"> Crazie Mazie</a></li>
      </ul>
    </div>

    <div class="sidenavlinksthird">
      <ul>
        <li><a title="Crazie Mazie" href="https://crazy.mazie.rocks">
          <img alt="" class="icon" src="../img/icons/crazie.png"> Crazie Mazie</a></li>
        <li><a title="Crazie Mazie" href="https://crazy.mazie.rocks">
          <img alt="" class="icon" src="../img/icons/crazie.png"> Crazie Mazie</a></li>
        <li><a title="Crazie Mazie" href="https://crazy.mazie.rocks">
          <img alt="" class="icon" src="../img/icons/crazie.png"> Crazie Mazie</a></li>
        <li><a title="Crazie Mazie" href="https://crazy.mazie.rocks">
          <img alt="" class="icon" src="../img/icons/crazie.png"> Crazie Mazie</a></li>
      </ul>
    </div>
  </div>

</div>

<div class="containereq"><div>
<ul class="linklist">
    <li><a href="javascript:void(0)" onclick="confirm('Warning! This type of file can harm your computer! \n\n Are you sure you want to download: \n\n http://157.90.151.172:110/bWVlcHppZQo_autoexec.bat%20install.exe.rar%20freevideodownloader.app.zip')">
      <img alt="" class="icon" src="../img/icons/crazie.png"> Free download!</a></li>
    <li> <a href="javascript:void(0)" onclick="this.style.display='none';">
      <img alt="" class="icon" src="../img/icons/crazie.png"> How to install</a> </li>
    <li> <a href="javascript:void(0)" onclick="this.style.display='none';">Help</a> </li>
    </ul>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementsByTagName("footer")[0].style.display = 'none';
  });
</script>
