title: Entropy
card: img/entropy-card.png
date: 2021-04-04
category: Weird stuff
---

<video class="responsive" width="1920" height="1080" controls poster="../img/entropy-big.png">
  <source src="https://mazie.rocks/files/equilibrium_mb.webm" type="video/webm">
  <span>Entropy</span>
</video>

<h2>Entropy</h2>
<p class="text">
Inspired by <a href="https://www.youtube.com/watch?v=pK1NPKm2Dfc">this video</a>
</p>
<p class="text">
I used C++ and <a href="https://github.com/g-truc/glm">glm</a> for the simulation.
</p>
<p class="text">
I started with one particle bouncing around in a circle.
</p>
<p class="text">
Then I added displaying using OpenCV (saving frames to image files).
</p>
<p class="text">
Next, I added more particles and another room with a tunnel so they can travel left and right.
</p>
<p class="text">
Finally, some counters, and an ffmpeg command to render the video.
</p>
<p class="text">
I ended up with a nice simulation, and a fascinating ending!
Can you figure out why? I'd love to hear your thoughts!
</p>
<ul class="linklist">
    <li><a href="https://gitlab.com/MRAAGH/fake-entropy">
      <img alt="" class="icon" src="../img/icons/gitlab.png"> See code!</a></li>
    </ul>
</div>



