title: Flying Maze
card: img/flyingmaze-card.jpg
date: 2021-04-27
category: Pony art
---

<div class="containereq"><div>
    <h2>Flying Maze!</h2>
    <p class="text">
    A 30-minute challenge on the topic of "flight", which then turned into a 60-minute challenge because I <a href="../img/flyingmaze_wip-big.jpg">couldn't finish in time</a>, hihi
    </p>

    <p class="text">
    It's the first time I did a speed challenge, this was fun! I don't remember when I've last drawn so fast!
    </p>

    <p class="text">
    I started with <a href="https://derpibooru.org/images/2602159">this reference</a>, sketched approximately the same pose, added my own mane and tail, then painted the colors with a brush.
    </p>

    <p class="text">
    Painting a sketch doesn't seem like a "right" thing to do, but ponies are not very recognizable without color!
    </p>

<ul class="linklist">
    <li><a href="https://www.deviantart.com/mraagh/art/Flying-Maze-877742265">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> This on Deviantart!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/flyingmaze-big.jpg" title="Click for full size!">
      <img class="responsive" alt="Drawing of Maze pony flying using balloons" width="685" height="687" src="../img/flyingmaze-big.jpg"></a></p>
  </div>
</div>
