title: Ask Maze Anything
card: img/askmaze-card.png
date: 2021-05-01
category: Games
---

<div class="containereq">
  <div>
    <h2>Can Maze really answer everything???</h2>
    <h2><a href="../life/askmaze.html">CLICK HERE</a> to find out!</h2>
  </div>
  <div><p><a href="../life/askmaze.html">
      <img alt="Web page screenshot" class="responsive" title="Click to play!"
         width="1021" height="569" src="../img/askmaze-big.png"></a></p></div>
</div>
