title: Tumbling Experiment
card: img/tumbler-card.jpg
date: 2021-04-28
category: Modding
---

<div class="containereq">
  <div>
    <h2>Experiment to test my 3D print polisher</h2>
    <p class="text">
    I wanted a good experiment of how effective tumbling is for 3D printing, and get some data to indicate how long my polishing times should be.
    </p>
<ul class="linklist">
    <li><a href="../tumble/index.html">
      <img alt="" class="icon" src="../img/icons/mazie.png"> See details and results</a></li>
    </ul>
  </div>
  <div><p><a href="../tumble/index.html">
      <img alt="Fischertechnik jar spinner" class="responsive" title="Click to see details!"
         width="960" height="540" src="../img/tumbler-big.jpg"></a></p></div>
</div>
