title: Simple notes
card: img/txtdemo-card.png
date: 2021-05-07
category: Coding
---

<div class="containereq"><div>
    <h2>Dead-simple scalable text notes thing!</h2>
    <p>
    A very minimalistic note taking thing for Linux/Unix!
    It displays a list of your notes using dmenu.
    Pick one or enter keywords for a new entry.
    The file opens in your default text editor.
    </p>
    <ul>
<li>Add entries with keywords</li>
<li>Fuzzy search keywords, multiple keywords and substrings</li>
<li>Recently accessed notes are listed first</li>
<li>Everything locally stored &amp; private</li>
<li>Use your preferred text editor</li>
    </ul>
<p>These notes are an extension of your brain.</p>
<p>A search engine for your own past.</p>
<p>Incredibly fast to access.</p>
<p>And quick to understand, because they are written by you!</p>

<h3>Things to note down:</h3>

<ul style="text-align: center; padding-left: 15px;">
<li>birthdays</li>
<li>lifehacks</li>
<li>ideas</li>
<li>recipes</li>
<li>copypasta</li>
<li>link collections</li>
<li>backups of text</li>
<li>translations</li>
<li>important chat messages</li>
<li>password hints</li>
<li>solutions to problems</li>
<li>actual school notes</li>
<li>travel log &amp; other logs</li>
<li>details that can't be forgotten</li>
</ul>
    <ul class="linklist">
      <li><a title="GitLab repository!" href="https://gitlab.com/MRAAGH/txt-notes">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> check it out!</a></li>
    </ul>
  </div><div>
    <a title="Click for full size!" href="../img/txtdemo.webm">
      <video class="responsive" width="960" height="540" autoplay loop muted poster="../img/txtdemo-big.png">
        <source src="../img/txtdemo.webm" type="video/webm">
        <span>demo of simple text notes</span>
      </video>
    </a>
  </div>
</div>


