title: 3D printed turntable
card: img/turntable5-card.jpg
date: 2021-05-30
category: Modding
---

<div class="containereq"><div>
    <h2>3D printed Fischertechnik turntable with instructions!</h2>
    <p class="text">I was annoyed by <a href="../img/turntable_old-big.jpg">my previous turntable</a>, it was very shaky in certain orientations despite all the stabilizers I had added. It had so much tension and friction that I needed a big motor to even spin it at all.</p>
    <p class="text">Then I found out that you can make a turntable with a ball bearing, and decided to make one!</p>
    <p class="text">I designed it to have a Fischertechnik-compatible gear.</p>
    <p class="text">In the recording here you can see a 4kg laptop spinning on this turntable (I used 6 balls for this).</p>
    <p class="text">I wanted to share these models, as well as instructions for this neat Fischertechnik design because I'm quite proud of it!</p>
    <ul class="linklist">

      <li><a href="https://mazie.rocks/files/turntablemodels.zip">
        <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>

      <li><a href="https://www.thingiverse.com/thing:4874016">
        <img alt="" class="icon" src="../img/icons/thingiverse.png"> This on Thingiverse!</a></li>

      </ul>
  </div><div>
    <a title="Click for full size!" href="../img/turntable.webm">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/turntable5.jpg">
        <source src="https://mazie.rocks/files/turntable.webm" type="video/webm">
        <span>spinning laptop</span>
      </video>
    </a>
</div></div>

<div class="containereq"><div>
    <h3>Step 1:</h3>
    <p class="text">
    Besides the 3D printed parts, you need these 25 Fischertechnik pieces and a 25mm rod. You can cut a Fischertechnik rod to this length, or use something else!
    </p>
    <p class="text">
    Note: you also need some 13mm marbles.
    </p>
  </div><div>
    <p><a href="../img/turntable1-big.jpg" title="Click for full size!">
      <img alt="Part list" class="responsive"
        width="960" height="540" src="../img/turntable1-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>Step 2:</h3>
    <p class="text">
    Assemble pieces on the base plate as shown. The labels on the plate can help you align everything correctly. Also note the 3 partial assemblies next to the plate.
    </p>
  </div><div>
    <p><a href="../img/turntable2-big.jpg" title="Click for full size!">
      <img alt="Base assembly" class="responsive"
        width="960" height="540" src="../img/turntable2-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>Step 3:</h3>
    <p class="text">
    Assemble the mechanism as shown. We are using the 30 tooth gear to transfer movement from the motor to the turntable. This was the simplest solution I was able to come up with.
    </p>
</div><div>
    <p><a href="../img/turntable3-big.jpg" title="Click for full size!">
      <img alt="Mechanism assembly" class="responsive"
        width="960" height="540" src="../img/turntable3-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>Step 4:</h3>
    <p class="text">
    Fit the first 3D printed part on the assembly. There is a gap underneath so you'll be able to run a wire to the motor.
    </p>
    <p class="text">
    Note for printing: use at least 20% infill so this doesn't flex under pressure.
    </p>
</div><div>
    <p><a href="../img/turntable4-big.jpg" title="Click for full size!">
      <img alt="Bearing bottom" class="responsive"
        width="960" height="540" src="../img/turntable4-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>Step 5:</h3>
    <p class="text">
    Place the 3D printed marble spacer and add the desired number of marbles: 3, 4, 6 or 12. You should space the marbles evenly. If you want to eliminate all potential shaking, use 3 marbles. As we all know, a table with 3 legs is stable by default.
    </p>
</div><div>
    <p><a href="../img/turntable5-big.jpg" title="Click for full size!">
      <img alt="Bearing middle spacer" class="responsive"
        width="960" height="540" src="../img/turntable5-small.jpg"></a></p>
</div></div>
<div class="containereq"><div>
    <h3>Step 6:</h3>
    <p class="text">
    Place the geared 3D printed part on top.
    </p>
    <p class="text">
    Note: this one should be printed with lots of infill as well, because it is important that it does not bend.
    </p>
    <p class="text">
    The design is complete! You can put anything flat on top of this turntable, for example a wooden panel with items on it! I will be using mine to make visualizations <a href="https://mazie.rocks/img/azie-video-silent.webm">like this</a>; so from now on, no more shaking!
    </p>
</div><div>
    <p><a href="../img/turntable6-big.jpg" title="Click for full size!">
      <img alt="Turntable gear" class="responsive"
        width="960" height="540" src="../img/turntable6-small.jpg"></a></p>
</div></div>

