title: Minecraft server log inspector
card: img/mcloginspector-card.png
date: 2021-06-21
category: Coding
---

<div class="containereq"><div>
    <h2>Simple interactive Minecraft server log inspector in Python!</h2>
    <p>
    This is a more "human-friendly" representation of log files.
    </p>
    <p>
    The key piece of information is how many players are online, so that's what's displayed graphically. You can click anywhere on the graph and the nearest log entry is displayed.
    </p>
    <p>
    Thanks to matplotlib, the graph is freely zoomable/scalable.
    </p>
    <p>
    One cool bit I did is use bisection for searching for the closest entry to mouse. This way, the program stays responsive even if your logs are very long!
    </p>
    <ul class="linklist">
      <li><a title="GitLab repository!" href="https://gitlab.com/MRAAGH/minecraft-log-inspector">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> check it out!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/mcloginspector-big.png" title="Click for full size!">
      <img class="responsive" alt="Graph of online players and terminal with server log" width="960" height="540" src="../img/mcloginspector-big.png"></a></p>
  </div>
</div>


