title: Hexagonal maze generator!
card: img/hexmaze-card.png
date: 2021-09-25
category: Coding
---

<div class="containereq"><div>
    <h2>Hexagonal maze generator in Rust!</h2>
    <p class="text">
    This was very interesting to make, I don't think I've coded with a hexagonal grid before! And neither have I coded in Rust. Learning Rust was actually the main purpose of this project.<br />
    You can choose the width, height and generation seed!<br />
    This is not a web thing, you'll have to download and compile this one if you want to try it yourself. But who knows, I might make a web version in the future!
    </p>
    <ul class="linklist">
      <li><a title="Download directly from mazie.rocks" href="https://mazie.rocks/files/hexmaze-main.zip">
          <img alt="" class="icon" src="../img/icons/mazie.png"> local download!</a></li>
      <li><a title="GitLab repository!" href="https://gitlab.com/MRAAGH/hexmaze">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> gitlab repository!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/hexmaze-small.png" title="Click for full size!">
      <img alt="Shaped maze ASCII" class="responsive"
                                   width="691" height="559" src="../img/hexmaze-small.png"></a></p>
  </div>
</div>


<div class="containereq"><div>
    <p class="text">
    It uses a maze generation algorithm that is biased towards long winding passages. I think mazes like this are interesting!<br />
    </p>
    <p class="text">
    I also generate the entrance and exit using a neat algorithm that finds the longest possible path through the maze, while keeping in mind that the entrance and exit can only be at the edge.<br />
    This is the same result I have already achieved in <a href="shapedmaze.html">my shaped maze generator</a>; but in that case, I was using a naive implementation that tries and measures all possible combinations. The naive implementation was very slow. By time complexity, it was O(n^3). The new implementation is O(2n) which is actually equivalent to O(n). This basically means, it is incredibly fast and you can generate big mazes with it!
    </p>
  </div><div>
    <p><a href="../img/hexmaze_wide-small.png" title="Click for full size!">
      <img alt="Shaped maze ASCII" class="responsive"
                                   width="934" height="556" src="../img/hexmaze_wide-small.png"></a></p>
  </div>
</div>

