title: 3D printed Disy
card: img/disy-card.jpg
date: 2021-11-03
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Disy!</h2>
    <p class="text">
    Commission for <a href="https://djdavid98.art">DJDavid98</a>!
    </p>

    <p class="text">
    This 5.5cm figurine is a 3D-printed version of a model originally designed by AeridicCore and can be printed in 2 parts!
    </p>

    <p class="text">
    This model was already almost suitable for printing, but I did need to change the eyes, mouth, all spikes on the mane and tail and some other details.
    </p>

    <p class="text">
    Everything is printed in PLA on my Ender 3 at super high resolution. It took about 5 hours to print. But I did, of course, print more than one, while I was figuring out how to do it right.
    </p>

    <p class="text">
    I made the printed model smooth using sandpaper, a tumbling machine, wood filler and filler primer.
    </p>

    <p class="text">
    I painted the coat using my airbrush and everything else with regular brushes. I think it turned out really great!
    </p>

    <p class="text">
    It's the first time I'm trying a combination of glossy and matte finish. I sprayed her with glossy lacquer, then I covered the eyes and sprayed again with matte. So only eyes are shiny. You can see this really well on the turntable!
    </p>

<ul class="linklist">
    <li><a href="https://mazie.rocks/files/disypainted/">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Turntable!</a></li>

    <li><a href="https://ponyprinter.com/downloads">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>

    <li><a href="https://www.thingiverse.com/thing:5086696">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> This on Thingiverse!</a></li>

    <li><a href="https://www.deviantart.com/mraagh/art/3D-Printed-Disy-896809499">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> This on Deviantart!</a></li>


    <li><a href="https://ponyprinter.com">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Commission me!</a></li>

    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="https://mazie.rocks/files/disy-video.webm">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/disy-big.jpg">
        <source src="https://mazie.rocks/files/disy-video.webm" type="video/webm">
        <span>spinning Disy pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>
