title: Larger Legends of Equestria statue
card: img/loestatuebig-card.jpg
date: 2022-06-27
category: 3D printing
---

<div class="containereq"><div>
    <h2>Larger Legends of Equestria statue</h2>
    <p class="text">
    This 32cm tall statue is a 200% scale version of
    <a href="https://mazie.rocks/a/loestatue.html">this model</a> (which can be seen in the background in the image).
    I found a way to split the main part neatly into 4 parts and now it can be printed much bigger on the same printer!
    </p>

    <p class="text">
    This was assembled from 12 parts:
    </p>
    <ul>
     <li>left body</li>
     <li>right body</li>
     <li>heads</li>
     <li>both manes</li>
     <li>left horn</li>
     <li>right horn</li>
     <li>left hoof</li>
     <li>right hoof</li>
     <li>wing 1</li>
     <li>wing 2</li>
     <li>wing 3</li>
     <li>wing 4</li>
    </ul>

    <p class="text">
    This was printed in PLA and took about 10 days of printing time (or 16 days if you include the failed attempts) on my Ender 3. After printing, I cleaned up and finished each piece using sandpaper, knives and wirecutters. And the whole project actually took about 3 months to complete.
    </p>

    <p class="text">
    This was a gift for Nova Star, watch the unboxing
    <a href="https://www.youtube.com/watch?v=D_gzxy-6sms">on YouTube</a>!
    </p>

    <p class="text">
    The original model can be found in
    <a href="https://www.legendsofequestria.com/">Legends of Equestria</a>.
    </p>

<ul class="linklist">
    <li><a href="https://mazie.rocks/files/alicornstatuebig/">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Turntable!</a></li>

    <li><a href="https://mazie.rocks/files/alicornstatuebig.zip">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a> (6.5 M)</li>

    <li><a href="https://www.thingiverse.com/thing:5443457">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> This on Thingiverse!</a></li>

    <li><a href="https://www.deviantart.com/mraagh/art/Larger-3D-Printed-Alicorn-Statue-from-LoE-923993562">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> This on Deviantart!</a></li>


    <li><a href="https://ponyprinter.com">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Commission me!</a></li>

    </ul>
  </div><div>
    <p><a href="../img/loestatuebig-big.jpg" title="Click for full size!">
      <img alt="Large 3D printed statue of two alicorn sisters" class="responsive"
        width="1040" height="780" src="../img/loestatuebig-small.jpg"></a></p>
  </div>
</div>
