title: 3D printed Rosy
card: img/rosy3d-card.jpg
date: 2022-07-24
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Rosy Wings pony!</h2>
    <p class="text">
    A gift for my friend Rosy!
    </p>

    <p class="text">
    I've had this idea for a while and I started working on this project at the start of 2021. This took a long time because it was above my skill level (I had never done sculpting in Blender before), so I needed to learn some things before I was able to finish it. It is a 100% original model and I'm quite happy with how it turned out! I was even able to design it in a way where it can be 3d printed reliably, because there are no shallow overhangs (those parts of the tool that stick out are printed separately).
    </p>

    <p class="text">
    I also tried out something new with painting: I did some shading with airbrush (I had never done that before) and I added some blush. You can't see the blush well in pictures but it is definitely there!
    </p>

<ul class="linklist">
    <li><a href="https://mazie.rocks/files/rosypainted/">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Turntable!</a></li>

    <li><a href="https://ponyprinter.com/downloads">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>

    <li><a href="https://www.thingiverse.com/thing:5444098">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> This on Thingiverse!</a></li>

    <li><a href="https://www.deviantart.com/mraagh/art/3D-Printed-Rosy-924100385">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> This on Deviantart!</a></li>

    <li><a href="https://ponyprinter.com">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Commission me!</a></li>

    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="https://mazie.rocks/files/rosypainted60.webm">
      <video class="responsive" width="1040" height="780" autoplay loop muted poster="../img/rosy3d-small.jpg">
        <source src="https://mazie.rocks/files/rosypainted60.webm" type="video/webm">
        <span>spinning Rosy pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>
