title: Karina, Candy and Maze
card: img/karinahug-card.png
date: 2022-11-18
category: Pony art
---

<div class="containereq"><div>
    <h2>Karina June, Candy Meow and Maze hugging!</h2>
    <p class="text">
    My first art with 3 ponies in it! This took a while but I'm really happy with how cute it turned out in the end! I think it's also the first time I'm drawing batpony ears!
    I used <a href="https://derpibooru.org/images/2902285">this ref for Karina and Candy poses</a>, <a href="https://www.deviantart.com/creshosk/art/Pocket-Pony-Dinky-Hooves-244399589">this ref for Maze's pose</a> (roughly), and <a href="https://files.mazie.rocks/karinalow.png">this ref for Karina's mane</a>.
    Another thing that surprised me, is how much easier it is to draw half-body art compared to full-body!
    </p>
    <p class="text">
    I started by tracing the poses on paper, then completed the sketch seen <a href="https://files.mazie.rocks/IMG_20221118_222619_l7tgK.jpg">here</a>. Based on the sketch, I finished this in Krita. I think I'm getting really good at using layers! I made the outlines first, and I put each part that I expect to be layered differently in its own layer (even if it's the same color as another layer). Once I had all the outlines, I reordered the layers so all the edges look correct. Lastly, I colored almost all of the flat surfaces using a single layer in the background.
    </p>
    <p class="text">
    I also FINALLY learned how to make nice corners on lines: you have to draw lines too long at first, so they intersect. Then use the eraser to trim them and make a nice corner. If you use layers in a clever way, the eraser won't affect the rest of the art.
    </p>
    <p class="text">I'm still trying to learn how colors work. At first I was worried that the colors of Karina, Candy and Maze would end up clashing. But I don't think they do. It's ok because there are a lot of colors and most of them are not very saturated. It's nice to look at!</p>
    <ul class="linklist">
      <li><a href="https://www.deviantart.com/mraagh/art/Karina-June-Candy-Meow-and-Maze-hugging-937735666">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://files.mazie.rocks/IMG_20221118_222619_l7tgK.jpg">
          <img alt="" class="icon" src="../img/icons/mazie.png"> my sketch for this!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/karinahug-big.png" title="Click for full size!">
      <img class="responsive" alt="Karina June hugging Candy Meow and Maze" width="981" height="780" src="../img/karinahug-small.png"></a></p>
  </div>
</div>



