title: Towel Cuddles
card: img/towel-card.png
date: 2022-11-18
category: Pony art
---

<div class="containereq"><div>
    <h2>Towel cuddles!</h2>
    <p class="text">
    Two cuties snuggling
    </p>
    <p class="text">
    I used <a href="https://derpibooru.org/images/1977186">this reference</a>
    </p>
    <ul class="linklist">
      <li><a href="https://www.deviantart.com/mraagh/art/Towel-Cuddles-938664321">
          <img alt="" class="icon" src="../img/icons/deviantart.png"> this on DeviantArt!</a></li>
      <li><a href="https://files.mazie.rocks/IMG_20221121_235749_8dV8c.jpg">
          <img alt="" class="icon" src="../img/icons/mazie.png"> my sketch for this!</a></li>
    </ul>
  </div><div>
    <p><a href="../img/towel-big.png" title="Click for full size!">
      <img class="responsive" alt="Two fillies cuddling" width="728" height="780" src="../img/towel-small.png"></a></p>
  </div>
</div>



