title: About donations
card: img/stick_mazie_question-card.png
date: 2022-11-30
category: About
---

<div>
  <h2>About donations</h2>
  <p>
  I develop this website out of my own passion, and I do not need or want any financial incentive. There will never be donations.<br />
  For the record, even if I did not have this website, I would rent this VPS (6€/month) and domain (15€/year).<br />
  This means that the actual website costs nothing.
  </p>
  <p>
  If you really want to contribute money, make a donation to your favorite free and open source software.<br />
  By doing that, you're encouraging the developers to work on it, and proving that FOSS can be sustainable, and at the same time you're buying some good feels.
  </p>
  <h2>About ads</h2>
  <p>
  I hate the mindset of "let's put ads on our website to get some money for free".<br />
  <b>As soon as you put ads on a website, you have ruined the experience and the integrity of the site</b>.<br />
  It doesn't matter if the ads come from Google or hosted locally.
  </p>
  <p>
  And no, those links at the side do not count as ads. I'm just trying to keep the web connected.
  </p>
</div>

