title: Find Mazie
card: img/findmazie-card.png
date: 2023-02-19
category: Games
---

<div class="containereq">
  <div><h2>Find Mazie</h2>
    <p>
      Point-and-click adventure
    </p>
    <ul class="linklist">
      <li><a title="Click to play!" href="https://find.mazie.rocks">
          <img alt="" class="icon" src="../img/icons/mazie.png"> play here!</a></li>
      <li><a title="See code!" href="https://gitlab.com/MRAAGH/mazie-game-engine">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> game code</a></li>
    </ul>
  </div>
  <div><p><a href="https://find.mazie.rocks">
      <img alt="Book with Mazie plushie" class="responsive" title="Click to play!"
                                                         width="1440" height="810" src="../img/findmazie-small.png"></a></p></div>
</div>
