title: AAGRINDER
card: img/aagrinder-card.png
date: 2024-11-14
category: Games
---

<div class="containereq">
  <div><h2 id="AAGRINDER"><a title="AAGRINDER website" href="https://www.aagrinder.xyz">AAGRINDER</a></h2>
    <p class="text">A game I'm developing (since 2017)! My biggest project!
    It has an awesome terrain generator, it generates an infinite world!
    And it's a multiplayer game! We have a small community and we play it together sometimes!
    You can explore the world, collect materials and build pretty things!
    Ooh, and it has a wiki, too!
    </p>
    <ul class="linklist">
      <li><a title="AAGRINDER website" href="https://www.aagrinder.xyz">
          <img alt="" class="icon" src="../img/icons/aagrinder.png"> AAGRINDER website!</a></li>
      <li><a title="Click to play!" href="https://aagrinder.xyz">
          <img alt="" class="icon" src="../img/icons/aagrinder.png"> play here!</a></li>
      <li><a title="Read the wiki! Contribute, too!" href="https://wiki.aagrinder.xyz">
          <img alt="" class="icon" src="../img/icons/aagrinder.png"> wiki!</a></li>
      <li><a title="GitLab repository!" href="https://gitlab.com/MRAAGH/aagrinder">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> see game code!</a></li>
      <li><a title="GitLab repository!" href="https://gitlab.com/MRAAGH/aagrinder-terrain">
          <img alt="" class="icon" src="../img/icons/gitlab.png"> see terrain generator code!</a></li>
      <li><a title="#aagrinder:aagrinder.xyz" href="https://matrix.to/#/#aagrinder:aagrinder.xyz">
          <img alt="" class="icon" src="../img/icons/matrix.png"> join us on Matrix!</a></li>
    </ul>
  </div>
  <div><p><a href="https://www.aagrinder.xyz">
      <img alt="AAGRINDER screenshot" class="responsive" title="AAGRINDER website"
                                                         width="1440" height="810" src="../img/aagrinder6.png"></a></p></div>
</div>
