title: 3D printed Nova
card: img/nova-card.jpg
date: 2023-04-11
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Nova Star!</h2>
    <p class="text">
    Commission for Nova Star!
    </p>

    <p class="text">
    I'm proud of this one! It's another totally original model, and I was able to make the digital model in only 2 days! It was a speedrun! And I was streaming it. Now, of course, the painting took much longer. Maybe some day I'll be faster at painting, too. But I'll still be limited by paint drying time.
    </p>

    <p class="text">
    So you may notice her very magical mane and tail! This was made by adding "acryl crystal flakes gel" at the end. It looks quite nice, both irl and in photos, I think. Some people say it looks "dirty" but I think it's quite nice and fitting. Well anyways that was the easiest thing in the whole painting process. The hard part is the colors in the multicolor mane. And eyes, as always.
    </p>

<ul class="linklist">
    <li><a href="https://mazie.rocks/files/novacatpainted/">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Turntable!</a></li>

    <li><a href="https://ponyprinter.com/downloads">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>

    <li><a href="https://www.thingiverse.com/thing:5955299">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> This on Thingiverse!</a></li>

    <li><a href="https://www.deviantart.com/mraagh/art/Nova-Star-hugging-cat-957635338">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> This on Deviantart!</a></li>


    <li><a href="https://ponyprinter.com">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Commission me!</a></li>

    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="https://files.mazie.rocks/novapainted.mp4" >
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/nova-small.jpg">
        <source src="https://files.mazie.rocks/novapainted.mp4" type="video/webm">
        <span>spinning Nova pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>
