title: 3D printed Sorunome and Pixel! (again xP)
card: img/sorufox_front-card.jpg
date: 2023-04-19
category: 3D printing
---

<div class="containereq"><div>
    <h2>Sorunome and Pixel in special Sorunome's fox style!</h2>
    <p class="text">
    Gift for Sorunome and Pixel!
    </p>

    <p class="text">
    I designed these in Blender to match a unique style of drawing a fox!
    I'm quite happy with how these turned out. I printed one for Soru and one for Pixel.
    As always, painting was the most time consuming part.
    </p>

    <p class="text">
    The base colors, as well as Soru's caramel highlights,
    are exclusively spray and airbrush painted, so they are super smooth!
    And of course this means that I had to make the models so smooth before painting.
    A lot of sanding, but worth it!
    </p>

<ul class="linklist">
    <li><a href="https://mazie.rocks/files/sorufoxpainted/">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Turntable (Soru)!</a></li>

    <li><a href="https://mazie.rocks/files/pixelfoxpainted/">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Turntable (Pixel)!</a></li>

    <li><a href="https://ponyprinter.com/downloads">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>

    <li><a href="https://www.thingiverse.com/thing:5979806">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> This on Thingiverse!</a></li>

    <li><a href="https://www.deviantart.com/mraagh/art/Sorunome-and-Pixel-Fox-in-3D-958819823">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> This on Deviantart!</a></li>

    <li><a href="https://ponyprinter.com">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Commission me!</a></li>

    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="https://files.mazie.rocks/sorufoxpainted.mp4">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/sorufox-small.jpg">
        <source src="https://files.mazie.rocks/sorufoxpainted.mp4" type="video/webm">
        <span>spinning Sorufox pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>
<div class="containereq">
  <div>
    <p><a href="https://files.mazie.rocks/sorufox-big.jpg" title="Click for full size!">
      <img alt="Sorunome and Pixel 3D printed" class="responsive"
        width="1040" height="780" src="../img/sorufox-small.jpg"></a></p>
  </div>
  <div>
    <p><a href="https://files.mazie.rocks/sorufox_front-big.jpg" title="Click for full size!">
      <img alt="Sorunome and Pixel 3D printed" class="responsive"
        width="1040" height="780" src="../img/sorufox_front-small.jpg"></a></p>
  </div>
</div>
