title: Mazie watching you
card: img/mazie_watch-card.png
date: 2023-06-02
category: Pony art
---

<div class="containereq"><div>
    <h2>Mazie watching you</h2>
    <p class="text">
    This took me about 4 hours to draw, and I think it's the first time I actually drew my hat!<br />
    It is my entry to an art collab which might be finished some day.
    </p>
    <p class="text">
    I used <a href="https://derpibooru.org/images/2765598">this reference</a>
    </p>
  </div><div>
    <p><a href="https://files.mazie.rocks/mazie_watch.png" title="Click for full size!">
      <img class="responsive" alt="Mazie watching you" width="728" height="780" src="../img/mazie_watch-small.png"></a></p>
  </div>
</div>



