title: 3D printed Canni
card: img/canni_nobase-card.jpg
date: 2023-07-09
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Canni Soda!</h2>
    <p class="text">
    This is a donation to the charity auction on Galacon 2023! If you want this, you have to go to Galacon 2023 and bid for it! If it's already over when you're reading this, then ... you can still make your own!
    </p>

    <p class="text">
    She's finally done! 3D printed Canni! I love how she turned out!
    </p>

    <p class="text">
    This 6cm figurine is an original model made in Blender, based on <a href="https://www.deviantart.com/wewius/art/Canni-Soda-449949944">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> this reference</a>!
    </p>

    <p class="text">
    I found a new way to make 3d manes. This approach with stacking twisted cuboids is very flexible, I can do a lot of mane styles this way!
    </p>

    <p class="text">
    And it's great that I was able to make the overhangs steep enough that they don't need supports. The hoof is in a great position, too. Really, the only place that needed support, was the belly. Minimizing support is a good thing, for many reasons!
    </p>

    <p class="text">
    The only annoying thing with this model is that it's hard to paint between the hoof and the face. I painted the eyes the best I could. But if the hoof was not in the way, the eyes could be even better.
    </p>

    <p class="text">
    Oh, and I finally learned that if I make the tail attachment an ellipse (instead of circle), it will be more stable.
    </p>




<ul class="linklist">
    <li><a href="https://mazie.rocks/files/cannipainted/">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Turntable!</a></li>

    <li><a href="https://ponyprinter.com/downloads">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Download all files!</a></li>

    <li><a href="https://www.thingiverse.com/thing:6115618">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> This on Thingiverse!</a></li>

    <li><a href="https://www.deviantart.com/mraagh/art/3D-Printed-Canni-Soda-BIZZAAM-971111715">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> This on Deviantart!</a></li>


    <li><a href="https://ponyprinter.com">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Commission me!</a></li>

    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="https://files.mazie.rocks/canni.webm">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/canni_nobase-small.jpg">
        <source src="https://files.mazie.rocks/canni.webm" type="video/webm">
        <span>spinning Canni Soda figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>

<div class="containereq">
  <div>
    <p><a href="https://files.mazie.rocks/canni_hand-big.jpg" title="Click for full size!">
      <img alt="hand held canni soda with a base plate" class="responsive"
        width="1040" height="780" src="../img/canni_hand-small.jpg"></a></p>
  </div>
  <div>
    <p><a href="https://files.mazie.rocks/canni_back-big.jpg" title="Click for full size!">
      <img alt="Sorunome and Pixel 3D printed" class="responsive"
        width="1040" height="780" src="../img/canni_back-small.jpg"></a></p>
  </div>
</div>
