title: 3D printed Night
card: img/night-card.jpg
date: 2023-10-25
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Night Blaze meme!</h2>
    <p class="text">
    Night Blaze on a chair!
    </p>

    <p class="text">
    A model based on     <a href="https://files.mazie.rocks/Night_Blaze_newspaper.jpg"> this art</a>. Started as a random idea too good to pass up. Ended up as a speedrun; the whole project was finished in less than 2 weeks! That includes 3d modeling, 3d printing, sanding, polishing and painting!
    </p>

    <p class="text">
    Someone suggested I should stop filling areas between legs with cheater cubes. This actually turned out really well. I thought it would be imposible to paint, but with a few tricks, it can be done!
    </p>

    <p class="text">
    The biggest advancement I've made here, is trying out different brush paints. Unfortunately I did not know this earlier, but there are special paints out there for painting models. With these paints, it's no longer necessary to paint 4-5 layers of every color. Only one or two layers. It also dries faster and doesn't flow around as much while drying. Yup, definitely sticking with these from now on!
    </p>

    <p class="text">
    This is my second time designing a stallion head, but first time doing it through sculpting. I'm quite happy with this head; will definitely re-use it in the future!
    </p>

    <p class="text">
    My first time making proper eyelids in 3D. The best way to make 3D eyelids seems to be to add them as a separate subdivided object, then merge them with the head using a boolean operation and some sculpting.
    </p>

    <p class="text">
    Also first time making hair out of curved profiles instead of subdivided basics. The idea for such hair came from     <a href="https://derpibooru.org/images/2860386"> this work</a>, model by v747, printed by SimpleSaemple. I think hair could potentially be even better with some sculpting, maybe I'll try that in the future.
    </p>

    <p class="text">
    And of course the chair. Wow, this chair took me even more work than the pony, but at least I learned a lot about Blender! I think this is my first practical use of vertex groups!
    </p>



<ul class="linklist">
    <li><a href="https://mazie.rocks/files/nightpainted/">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Turntable!</a></li>

    <li><a href="https://ponyprinter.com/downloads.html">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Download all files!</a></li>

    <li><a href="https://www.thingiverse.com/thing:6281079">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> This on Thingiverse!</a></li>

    <li><a href="https://www.deviantart.com/mraagh/art/Night-Blaze-on-a-chair-990163710">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> This on Deviantart!</a></li>


    <li><a href="https://ponyprinter.com">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Commission me!</a></li>

    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="https://files.mazie.rocks/night-video.webm">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/night-small.jpg">
        <source src="https://files.mazie.rocks/night-video.webm" type="video/webm">
        <span>spinning Night pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>
