title: 3D printed Typh
card: img/typh-card.jpg
date: 2023-11-07
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Typh pony!</h2>

    <p class="text">
    Gift for Skysweep!
    </p>

    <p class="text">
    It's Typh! Some parts (the eyes) are based on art by     <a href="https://derpibooru.org/search?q=artist%3Aandaluce%2Coc%3Atyph">Andulance</a>.
    </p>

    <p class="text">
    This was another speedrun to see how quick I can make a small figurine. By reusing some assets from my other works, I was able to finish the 3d model and print it all in one day! And including the polishing and painting, the whole project was finished in a week.
    </p>

    <p class="text">
    It's another mane made with the curved profile approach. This one turned out really well, I think! Possibly the prettiest mane I've made so far?
    </p>

    <p class="text">
    Also, I've finally figured how the back legs are supposed to attach to the body. I will re-use this in the future. It will be especially obvious on wingless ponies
    </p>

    <p class="text">
    Unfortunately I had an accident which caused this figurine to get damaged, and I did not have a chance to capture him from all sides. No turntable this time; only these three pictures. Download the 3d model if you want to see other perspectives.
    </p>




<ul class="linklist">
    <li><a href="https://ponyprinter.com/downloads.html">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Download all files!</a></li>

    <li><a href="https://www.thingiverse.com/mraagh/designs">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> Find this on my Thingiverse!</a></li>

    <li><a href="https://www.deviantart.com/mraagh/gallery/76088356/3d-ponies">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> Find this on my Deviantart!</a></li>


    <li><a href="https://ponyprinter.com">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Commission me!</a></li>

    </ul>
  </div>
  <div>
    <p><a href="https://files.mazie.rocks/typh_left-big.jpg" title="Click for full size!">
      <img alt="3D printed Typh" class="responsive"
        width="1040" height="780" src="../img/typh_left-small.jpg"></a></p>
  </div>
</div>
<div class="containereq">
  <div>
    <p><a href="https://files.mazie.rocks/typh_front-big.jpg" title="Click for full size!">
      <img alt="3D printed Typh" class="responsive"
        width="1040" height="780" src="../img/typh_front-small.jpg"></a></p>
  </div>
  <div>
    <p><a href="https://files.mazie.rocks/typh_right-big.jpg" title="Click for full size!">
      <img alt="3D printed Typh" class="responsive"
        width="1040" height="780" src="../img/typh_right-small.jpg"></a></p>
  </div>
</div>
