title: 3D printed Damien
card: img/damien-card.jpg
date: 2024-01-11
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Damien pony!</h2>
    <p class="text">
    This 8cm figurine is an original model made in Blender and can be 3d printed in 1 part!
    </p>

    <p class="text">
    This was my first commission with a deadline, and it turned out great! Although there were some issues during painting, I managed to fix everything in the end, I learned a lot, and we're all happy with the result!
    </p>

    <p class="text">
    I had to design a 3d stallion head with two horns, and I think it looks fine!
    </p>

    <p class="text">
    The tail is made in this way that it touches the hoof. This makes it significantly stronger, it won't break so easily!
    </p>



<ul class="linklist">
    <li><a href="https://mazie.rocks/files/damienpainted/">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Turntable!</a></li>

    <li><a href="https://ponyprinter.com/downloads.html">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Download all files!</a></li>

    <li><a href="https://www.thingiverse.com/mraagh/designs">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> Find this on my Thingiverse!</a></li>

    <li><a href="https://www.deviantart.com/mraagh/gallery/76088356/3d-ponies">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> Find this on my Deviantart!</a></li>


    <li><a href="https://ponyprinter.com">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Commission me!</a></li>

    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="https://mazie.rocks/files/damienpainted.mp4">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/damien-small.jpg">
        <source src="https://mazie.rocks/files/damienpainted.mp4" type="video/webm">
        <span>spinning Damien pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>
