title: 3D printed Fair Mail
card: img/fairmail-card.jpg
date: 2024-02-27
category: 3D printing
---

<div class="containereq"><div>
    <h2>3D printed Fair Mail pony!</h2>
    <p class="text">
    Gift for Fair Mail!
    </p>

    <p class="text">
    This tiny 3cm figurine is an original model made in Blender and can be printed in 1 part!
    </p>

    <p class="text">
    My first time painting an eyeshadow! But it was relatively easy, because this whole thing is so small.
    </p>

    <p class="text">
    I was originally planning to make this much bigger (not 3cm), but I was running low on time, so I made it tiny instead, hihi
    </p>




<ul class="linklist">
    <li><a href="https://mazie.rocks/files/fairmail/">
      <img alt="" class="icon" src="../img/icons/mazie.png"> Turntable!</a></li>

    <li><a href="https://ponyprinter.com/downloads.html">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Download all files!</a></li>

    <li><a href="https://www.thingiverse.com/mraagh/designs">
      <img alt="" class="icon" src="../img/icons/thingiverse.png"> Find this on my Thingiverse!</a></li>

    <li><a href="https://www.deviantart.com/mraagh/gallery/76088356/3d-ponies">
      <img alt="" class="icon" src="../img/icons/deviantart.png"> Find this on my Deviantart!</a></li>

    <li><a href="https://ponyprinter.com">
      <img alt="" class="icon" src="../img/icons/ponyprinter.png"> Commission me!</a></li>

    </ul>
  </div><div>
    <p>
    <a title="Click for full size!" href="https://mazie.rocks/files/fairmail-video.webm">
      <video class="responsive" width="900" height="636" autoplay loop muted poster="../img/fairmail-small.jpg">
        <source src="https://mazie.rocks/files/fairmail-video.webm" type="video/webm">
        <span>spinning Fair Mail pony figurine</span>
      </video>
    </a>
    </p>
  </div>
</div>
